.panel{
	border: none;
	border-radius: 0;
	background: $medium-red;
	color: #ffffff;
}

.event-info{
	padding: 20px 0;
	background: $medium-red;
	color: #ffffff;
	
	td{
		padding-left: 30px;
	}

	.info-item{
		margin-bottom: 40px;
	}
	
	.info-block{
		margin: 30px 0 10px 0;
	}

	.btn{
		width: 100%;
	}
	
	h3{
		padding-top: 5px;
	}
}

.table{
	color: #ffffff;
	
	button{
		padding-top: 15px;
		
		&:hover{
			color: $dark-red;
		}
	}
	
	.info-td{
		padding-left: 20px;
		border-right: 0.5px solid #ffffff;
	}
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: 0;
}

.table-striped>tbody>tr:nth-of-type(odd){
	background: $light-red;
}

.table-striped>tbody>tr:nth-of-type(even){
	background: $medium-red;
}
