
.panel{
	border: none;
	border-radius: 0;
	background: $medium-red;
	color: #ffffff;
	
	h4{
		padding: 15px;
	}
}

.event-info{
	padding: 20px 0;
	background: $medium-red;
	color: #ffffff;
	
	.event-detail{
		padding-bottom: 20px;
	}	
	
	td{
		padding-left: 30px;
	}
	
	.info-block{
		margin: 30px 0 10px 0;
	}

	.btn{
		width: 100%;
	}

	h2{
		margin-top: 0;
		margin-bottom: 25px;
	}
	
	h3{
		margin-top: 0;
		margin-bottom: 15px;
	}
}

.btn.plus-btn {
    border: 2px solid #ed9d97;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px 0 10px 30px;
    padding: 2px 13px;
    background: none;
    color: #ed9d97;
    
    i{
    	margin-right: 20px;
    }
}
