.general-form {
    .form-group {
        .input-group-btn {
            button {
                float: right;
                position: relative;
                margin-top: -60px;
                padding: 12px 22px;
            }
        }
        .dropdown-menu {
            z-index: 9000;
            padding: 0 0 5px;
            top: 188px !important;

            .btn-default {
                border-color: #fff;
            }
            button {
                border-color: #ed9d97;
            }
        }
        .btn {
            margin-top: 0;
            padding: 0 16px;
        }
        .btn:hover {
            border-color: #ed9d97;
        }
        .btn-info.active {
            color: #ed9d97;
            background-color: #d3362d;
            .text-info {
                color: #ed9d97;
            }
        }
        .btn-group.pull-left button:first-child {
            margin-right: 5px;
        }
        .hours-btn {
            border-radius: 50%;
            padding: 18px 10px;
            border: 1px solid #fff;
            color: #fff;
            display: inline-block;
            margin: 5px 25px;
        }
        .btn.cant-tickets-btn {
            border: 2px solid #ed9d97;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            padding: 2px 13px;
            background: none;
            color: #ed9d97;
            margin: -50px 9px;
        }
        .btn.cant-tickets-btn.minus-btn {
            float: left;
        }
        .ticket-price {
            float: right;
        }
        .subtotal-qty {
            color: #fff;
            margin-top: 45px;
            position: absolute;
        }
        .ticket-type {
            width: 43%;
        }
        /** SEATS **/
        .screen-position,
        .seat-row a {
            border: 1px solid #fff;
            padding: 18px 18px;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;

        }
        .seat-row {
            margin-top: 33px;
            height: 23px;
            div {
                span {
                    color: #fff;
                    margin-right: 20px;
                }
                a {
                    padding: 14px 18px;
                }
                .two-digit-seat {
                    padding: 14px 14px;
                }
            }
            .center-col-seats {
                margin: 0 19px;
            }
        }
        .seat-type {
            div {
                a {
                    padding: 14px 22px;
                    margin-left: 31px;
                }
                span {
                    margin-left: 15px;
                    font-weight: 100;
                }
                .sold {
                    border-color: #4e4545;
                }
                .special-seat {
                    border-color: #0c529f;
                }
                .your-seat {
                    border-color: #0cf303;
                }
            }
            .seat-type-second-col {
                a {
                    margin-left: 3px;
                }
                span {
                    margin-right: 64px;
                }
            }
        }
        .seat-row-top {
            margin-top: 50px;
        }
        .card-number {
            padding-left: 80px;
        }
        .type-card-icon {
            position: absolute;
            margin: 27px -98px;
            font-size: 40px;
            color: #ed9d97;
        }
    }
}

.form-group > .btn.next-btn {
    padding: 10px 16px;
    margin-top: 30px;
}

.detail-buy-heading,
.buy-code {
    border-radius: 0;
    background: #ed9d97;
    line-height: 34px;
    letter-spacing: 1px;
    color: #d3362d;
    text-transform: uppercase;
    padding: 10px 23px;

    span {
        font-size: 1.2em;
    }
}

.buy-code {
    text-align: center;
}

.success-info {
    width: 100%;
    margin: 23px auto;
    color: #fff;
    font-weight: 100;
}

.success-buy {
    font-size: 16px;
    color: #fff;
}

.lights-image {
    width: 25%;
    margin-top: 40px;
    margin-bottom: 15px;
}

.detail-buy {
    .detail-buy-container {
    border: 1px solid #fff;
    border-top: 0;
    padding: 10px 22px;
        h3 {
            color: #fff;
            font-size: 1.2em;
        }
        p {
            color: #fff;
            font-weight: 100;
        }
    }
    .detail-buy-information {
        label {
            color: #fff;
            font-weight: 100;
            margin-top: 15px;
        }
        input {
            background-color: #db4437;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            height: 60px;
            font-weight: 400;
            color: #fff;
        }
    }
    div {
        .btn.next-btn {
            width: 100%;
            padding: 10px 16px;
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width: 400px) {

    .typeahead {
        .custom-popup-wrapper {
            width: 92.5%;
        }
    }

    .general-form {
        .form-group {
            .btn {
                padding: 0 10px;
            }
            /** SEATS **/
            .seat-row {
                div {
                    span {
                    }
                    a {
                        padding: 6px 10px ;
                    }
                    .two-digit-seat {
                        padding: 6px 6px ;
                    }
                }
                .center-col-seats {
                    margin: 0 3px ;
                }
            }
            .seat-type {
                div {
                    a {
                        padding: 5px 13px;
                    }
                }
            }
        }
    }

    .col-centered {
        width: 100%;
    }
}