$dark-red: #d3362d;
$medium-red: #db4437;
$light-red: #ed9d97;
$dark-gray: #4e4e4e;
$medium-gray: #7d7d7d;
$light-gray: #e5e5e5;

body{
	background:  $dark-red;
	font-family: 'Roboto', sans-serif;

	button{
		background: none;
		border: none;
	}

	li{
		list-style-type: none;
	}

	a{
		text-decoration: none;
		color: $medium-gray;

		&:hover{
			color: $dark-gray;
		}
	}

	h1{
		padding: 30px 0;
		color: #ffffff;
	}
}

.navbar{
	background: #ffffff;
	border-radius: 0;
}

.navbar-nav>li>a{

	&:hover{
		background: none;
	}
}

#current-view {
	padding-top: 85px;
	padding-bottom: 100px;
}

header{
	.fa-bars{
		padding: 8px;
		color: $dark-red;

		&:hover{
			color: $light-red;
		}
	}

	.logo{
		margin: 0 auto;
		padding-top: 10px;
	}

	.navbar-brand{
		float: none;
	}

	.navbar-nav>li>a{
		font-size: 16px;

		@media (min-width: 768px){
			margin-top: 20px;
		}

		@media (max-width: 768px) {
			padding: 10px 40px;
			border-bottom: 1px solid $light-gray;
			text-align: right;
		}
	}

	.navbar-collapse{
		@media (max-width: 768px) {
			border-top: 1px solid $light-gray;
		}
	}
}

.list-group{
	margin: 5px 0;
}

.btn{
	margin-top: 20px;
	border-radius: 0;
	background: $light-red;
	line-height: 34px;
	letter-spacing: 1px;
	color: $dark-red;
	text-transform: uppercase;

	&:hover{
		background: $dark-red;
		color: $light-red;
	}

	&-facebook {
		background: #3b5998;
	}

	&-twitter {
		background: #55acee;
	}

	&-social {
		color: #fff;
	}
}

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;

	.copyright-text{
		padding: 15px 0 10px 0;
		color: $medium-gray;
	}

	.navbar-nav{
		float: none;
	}
	.navbar {
		margin-bottom: 0;
	}
}

/* Form */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff !important;
}

.general-form > .form-group > label {
	color: #fff;
	font-weight: 100;
}

.general-form > .form-group > input {
	background-color: #db4437;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	height: 60px;
	font-weight: 400;
	color: #fff;
}

/* TypeAhead */

.typeahead .custom-popup-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
}

.typeahead .custom-popup-wrapper > .message {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #868686;
}

.typeahead .custom-popup-wrapper > .dropdown-menu {
	position: static;
	float: none;
	display: block;
	min-width: 160px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.btn-back{
	padding-top: 20px;
	color : $light-red;

	&:hover{
		color: $medium-red;
	}
}

.table{
	color: #ffffff;

	button{
		padding-top: 15px;

		&:hover{
			color: $dark-red;
		}
	}

	.info-td{
		padding-left: 20px;
		border-right: 0.5px solid #ffffff;
	}
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: 0;
}

.table-striped>tbody>tr:nth-of-type(odd){
	background: $light-red;
}

.table-striped>tbody>tr:nth-of-type(even){
	background: $medium-red;
}

.circle-thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;

  border-radius: 50%;
}

.circle-thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}


.modal-dialog{

	@media (min-width: 768px){
		width: 500px;
	}

	.modal-content {
		border-radius: 0;
		background: $medium-red;
		color: #ffffff;

		img{
			margin: 0 auto;
		}

		.modal-footer {
			padding-top: 0;
			text-align: center;

			.btn+.btn {
				margin-left: 15px;
			}
		}

		.modal-header, .modal-footer {
			border: none;
		}
	}
}

@import 'events.scss';
@import 'tickets.scss';