$dark-red: #d3362d;
$medium-red: #db4437;
$light-red: #ed9d97;
$dark-gray: #4e4e4e;
$medium-gray: #7d7d7d;
$light-gray: #e5e5e5;

body{
	background:  $dark-red;
	font-family: 'Roboto', sans-serif;

	button{
		background: none;
		border: none;
	}

	li{
		list-style-type: none;
	}

	a{
		text-decoration: none;
		color: $medium-gray;

		&:hover{
			color: $dark-gray;
		}
	}

	h1{
		padding: 30px 0;
		color: #ffffff;
	}
}

.navbar{
	background: #ffffff;
	border-radius: 0;
}

.navbar-nav>li>a{

	&:hover{
		background: none;
	}
}

#current-view {
	padding-top: 85;
}

header{
	.fa-bars{
		padding: 8px;
		color: $dark-red;

		&:hover{
			color: $light-red;
		}
	}

	.logo{
		margin: 0 auto;
		padding-top: 10px;
	}

	.navbar-brand{
		float: none;
	}

	.navbar-nav>li>a{
		font-size: 16px;

		@media (min-width: 768px){
			margin-top: 20px;
		}

		@media (max-width: 768px) {
			padding: 10px 40px;
			border-bottom: 1px solid $light-gray;
			text-align: right;
		}
	}

	.navbar-collapse{
		@media (max-width: 768px) {
			border-top: 1px solid $light-gray;
		}
	}
}

.list-group{
	margin: 5px 0;
}

.btn{
	margin-top: 20px;
	border-radius: 0;
	background: $light-red;
	line-height: 34px;
	letter-spacing: 1px;
	color: $dark-red;

	&:hover{
		background: $dark-red;
		color: $light-red;
	}

	&-facebook {
		background: #3b5998;
	}

	&-twitter {
		background: #55acee;
	}

	&-social {
		color: #fff;
	}
}

footer {
	margin-top: 150px;

	.copyright-text{
		padding: 15px 0 10px 0;
		color: $medium-gray;
	}

	.navbar-nav{
		float: none;
	}
}

/* Form */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff !important;
}

.general-form > .form-group > label {
	color: #fff;
	font-weight: 100;
}

.general-form > .form-group > input {
	background-color: #db4437;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	height: 60px;
	font-weight: 400;
}

/* TypeAhead */

.typeahead-demo .custom-popup-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
	position: static;
	float: none;
	display: block;
	min-width: 160px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.btn-back{
	padding-top: 20px;
	color : $light-red;

	&:hover{
		color: $medium-red;
	}
}

@import 'events.scss';
@import 'tickets.scss';