$dark-red: #d3362d;
$medium-red: #db4437;
$light-red: #ed9d97;
$dark-gray: #4e4e4e;
$medium-gray: #7d7d7d;
$light-gray: #e5e5e5;

body{
	background:  $dark-red;
	font-family: 'Roboto', sans-serif;

	button{
		background: none;
		border: none;
	}

	li{
		list-style-type: none;
	}

	a{
		text-decoration: none;
		color: $medium-gray;

		&:hover{
			color: $dark-gray;
		}
	}

	h1{
		padding: 30px 0;
		color: #ffffff;
	}
}

.navbar{
	background: #ffffff;
	border-radius: 0;
}

.navbar-nav>li>a{

	&:hover{
		background: none;
	}
}

header{
	margin-bottom: 150px;

	.fa-bars{
		padding: 8px;
		color: $dark-red;

		&:hover{
			color: $light-red;
		}
	}

	.logo{
		margin: 0 auto;
		padding-top: 10px;
	}

	.navbar-brand{
		float: none;
	}

	.navbar-nav>li>a{
		font-size: 16px;

		@media (min-width: 768px){
			margin-top: 20px;
		}

		@media (max-width: 768px) {
			padding: 10px 40px;
			border-bottom: 1px solid $light-gray;
			text-align: right;
		}
	}

	.navbar-collapse{
		@media (max-width: 768px) {
			border-top: 1px solid $light-gray;
		}
	}
}

.btn{
	margin-top: 20px;
	border-radius: 0;
	background: $light-red;
	line-height: 34px;
	letter-spacing: 1px;
	color: $dark-red;

	&:hover{
		background: $dark-red;
		color: $light-red;
	}
}

footer {
	margin-top: 150px;

	.copyright-text{
		padding: 15px 0 10px 0;
		color: $medium-gray;
	}

	.navbar-nav{
		float: none;
	}
}

@import 'events.scss';
@import 'tickets.scss';