<main class="container">
  <div class="row">
    <div class="col-xs-6">
      <a href="#/buyTickets/tickets/seats"><i class="fa fa-hand-o-left fa-3x btn-back"></i></a>
    </div><!--.col-xs-6-->
  </div><!--.row-->
  <h1 class="text-center">{{ translation.BUY_TICKETS }}</h1>
  <hr>
  <div class="row row-centered">
    <div class="col-md-6 col-centered detail-buy general-form">
        <div class="detail-buy-heading">
          <span>{{ translation.YOUR_BUY }}</span>
        </div>
        <div class="detail-buy-container">
          <div class="details">
            <h3>{{eventsBuy.name}}</h3>
            <p>{{ translation.EVENT_DATE }}: <span>{{eventsBuy.date}}</span></p>
            <p>{{ translation.EVENT_TIME }}: <span>{{eventsBuy.startHour}}</span></p>
            <p>{{ translation.EVENT_PLACE }}: <span>{{ getEventLocation(eventsBuy.location, 'name') }}</span></p>
            <div>
              <!-- <p>Asientos:</p> -->
              <div ng-repeat="option in eventsBuy.options">
                <p class="selected-area">Area: {{ option.area }}</p>
                <p class="selected-seats">{{ translation.EVENT_CLIENT_SEATS }}: {{ option.seats.join(", "); }}</p>
                <p>Total: <span>{{ option.total }}</span></p>
              </div>
            </div>
          </div>
          <div class="detail-buy-information form-group">
            <label for="user_name">{{ translation.EVENT_CLIENT_NAME }}</label>
            <input id="user_name" class="form-control event-info" ng-model="detailUser"></input>
          </div>
          <div class="detail-buy-information form-group">
            <label for="user_email">{{ translation.EVENT_CLIENT_EMAIL }}</label>
            <input id="user_email" class="form-control event-info" ng-model="detailEmail"></input>
          </div>
          <div class="form-group">
            <button ng-click=go("/buyTickets/tickets/seats/detail/cardinformation") class="btn next-btn align-right">{{translation.NEXT}}</button>
          </div>
        </div>
    </div>
  </div>
</main>