<main class="container">
  <h1 class="text-center">Compra de entradas</h1>
  <hr>
  <div class="row row-centered">
    <div class="col-md-6 col-centered">
      <form role="form" class="general-form">
        <div class="form-group" ng-controller="DatepickerCtrl" ng-repeat="rate in eventsBuy.rates">
          <label for="" class="ticket-type">{{ rate.ubicationName }}</label>
          <label for="" class="ticket-price" ng-model="itemPrice">{{ rate.price | currency:"CRC " }}</label>

          <input type="text" class="form-control" />
          <span class="input-group-btn">
            <button type="button" class="btn cant-tickets-btn minus-btn" ng-click="differenceValues($index, rate.ubicationName);"><i class="fa fa-minus"></i></button>
          </span>
          <span class="input-group-btn">
            <button type="button" class="btn cant-tickets-btn" value="2000" ng-click="sumValues($index, rate.ubicationName);"><i class="fa fa-plus"></i></button>
          </span>
        </div>
        <span class="subtotal-qty subtotal-general">Subtotal: <span>{{ initialAmount | currency:"CRC " }}</span></span>
        <span class="subtotal-qty subtotal-VIP">Subtotal: <span>{{ initialAmount2 | currency:"CRC " }}</span></span>
        <div class="form-group">
          <a ng-click="go('/buyTickets/tickets/seats/detail')" class="btn next-btn align-right">{{translation.NEXT}}</a>
        </div>
      </form>
    </div>
  </div>
</main>