<main class="container">
  <h1 class="text-center">Compra de entradas</h1>
  <hr>
  <div class="row row-centered">
    <div class="col-md-6 col-centered">
      <form role="form" class="general-form">
        <p class="text-center success-buy">¡Su compra se realizó con éxito!</p>
        <p class="success-info">Un correo con la información de compra ha sido enviado. Su código de seguridad es:</p>
        <div class="form-group buy-code">
          <span class="align-right">WSSD723</span>
        </div>
        <img src="front-end/img/lights.png" class="center-block lights-image" alt="">
        <div class="form-group">
          <a href="#/" class="btn next-btn align-right">{{translation.GO_BACK}}</a>
        </div>
      </form>
    </div>
  </div>
</main>