<main class="container">
  <h1 class="text-center">Compra de entradas</h1>
  <hr>
  <div class="row row-centered">
    <div class="col-md-6 col-centered detail-buy general-form" ng-controller="HeaderCtrl">
        <div class="detail-buy-heading">
          <span>Su compra</span>
        </div>
        <div class="detail-buy-container" ng-controller="buyticketsCtrl">
          <h3>{{eventsBuy.name}}</h3>
          <p>Fecha: <span>{{eventsBuy.date}}</span></p>
          <p>Hora: <span>{{eventsBuy.startHour}}</span></p>
          <p>Lugar: <span>{{ getEventLocation(eventsBuy.location, 'name') }}</span></p>
          <p>Asientos: <span>A1 - A2 - A3</span></p>
          <p>Total: <span>3000</span></p>
        </div>
        <div class="detail-buy-information form-group">
          <label for="">Nombre</label>
          <span class="form-control event-info"> {{ user.name }} </span>
        </div>
        <div class="detail-buy-information form-group">
          <label for="">Correo electrónico</label>
          <span class="form-control event-info"> {{ user.email }} </span>
        </div>
        <div class="form-group">
          <a href="#/buyTickets/tickets/seats/detail/cardinformation" class="btn next-btn align-right">{{translation.NEXT}}</a>
        </div>
    </div>
  </div>
</main>