<main class="container">
	<h1 class="text-center">AGREGAR SITIO</h1>

	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<form role="form" class="general-form row" name="addLocationForm" novalidate>
				<div class="col-xs-2">
					<img ng-src="{{ newImageSource }}" alt="Fotografía del Sitio" class="circle-thumbnail img-responsive">
					<label for="file-upload" class="custom-file-upload">
   						 <i class="fa fa-camera"></i> Cambiar
					</label>
					<input id="file-upload" ng-model="newImageSource" type="file" onchange="angular.element(this).scope().newImage(this)" class="btn file-input"></input>
			    </div>
		        <div class="form-group col-xs-10">
		          	<label for="">Sitio</label>
		          	<input type="text" name="newLocation" ng-model="newLocation" placeholder="Nombre del Sitio" class="form-control" required>
		          	<div ng-messages="addLocationForm.newLocation.$error" ng-if="addLocationForm.newLocation.$touched" class="help-block">
		          	    <p ng-message="required">Este campo es obligatorio</p>
		          	</div>
		        </div>
		        <div class="form-group col-xs-10">
		          	<label for="">Teléfono</label>
		          	<input type="text" name="newPhone" ng-model="newPhone" placeholder="2222-2222" class="form-control" valid-number required>
		          	<div ng-messages="addLocationForm.newPhone.$error" ng-if="addLocationForm.newPhone.$dirty" class="help-block">
		          	    <p ng-message="validNumber">El formato del teléfono debe ser 2222-2222</p>
		          	</div>
		        </div>
		        <div class="form-group col-xs-10 col-xs-offset-2">
		          	<label for="">Capacidad</label>
		          	<input type="number" name="newCapacity" ng-model="newCapacity" placeholder="10000" class="form-control" required>
		          	<div ng-messages="addLocationForm.newCapacity.$error" ng-if="addLocationForm.newCapacity.$touched" class="help-block">
		          	    <p ng-message="required">Este campo es obligatorio</p>
		          	</div>
		        </div>
		        <div class="form-group col-xs-10 col-xs-offset-2">
		          	<label for="">Localización Geográfica</label>
		          	<input type="text" ng-model="newGeographicLoc" placeholder="Coordenadas Geográficas" class="form-control" required>
		          	<div ng-messages="addLocationForm.newGeographicLoc.$error" ng-if="addLocationForm.newGeographicLoc.$touched" class="help-block">
		          	    <p ng-message="required">Este campo es obligatorio</p>
		          	</div>
		        </div>
		        <div class="form-group col-xs-10 col-lg-offset-2">
		          	<label for="">Dirección</label>
		          	<textarea type="text" ng-model="newAdress" placeholder="Dirección" class="form-control" required></textarea>
		          	<div ng-messages="addLocationForm.newAdress.$error" ng-if="addLocationForm.newAdress.$touched" class="help-block">
		          	    <p ng-message="required">Este campo es obligatorio</p>
		          	</div>
		        </div>
		        <div class="form-group col-xs-10 col-xs-offset-2">
				  <button class="btn next-btn align-right" ng-click="addLocation()" ng-disabled="addLocationForm.$invalid">AGREGAR</button>
				</div>
			</form>
		</div>
	</div><!--.row-->
</main>