<main class="container">
	<h1 class="text-center">EDITAR EVENTO</h1>

	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<form role="form" class="general-form row">
				<script type="text/ng-template" id="customPopupTemplate.html">
		          <div class="custom-popup-wrapper form-group"
		             ng-style="{top: position().top+'px', left: position().left+'px'}"
		             style="display: block;"
		             ng-show="isOpen() && !moveInProgress"
		             aria-hidden="{{!isOpen()}}">
		            <p class="message">Seleccione un valor de la lista:</p>
		            <ul class="dropdown-menu" role="listbox">
		                <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
		                    ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
		                    <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
		                </li>
		            </ul>
		          </div>
		        </script>
				<div class="col-xs-2">
					<img ng-src="{{ imageSource }}" alt="Fotografía del Evento" class="circle-thumbnail img-responsive">
					<label for="file-upload" class="custom-file-upload">
   						 <i class="fa fa-camera"></i> Cambiar
					</label>
					<input id="file-upload" ng-model="imageSource" type="file" onchange="angular.element(this).scope().fileNameChanged(this)" class="btn file-input"></input>
			    </div>
		        <div class="form-group col-xs-10">
		          	<label for="">Evento</label>
		          	<input type="text" ng-model="updatedEvent" placeholder="{{ event.name }}" class="form-control">
		        </div>
				<div class="form-group col-xs-10" ng-controller="DatepickerCtrl">
				    <label for="">Seleccione una fecha</label>
				    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="updatedDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
				    <span class="input-group-btn">
				        <button type="button" class="btn" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
				    </span>
				</div>
				<div class="form-group col-xs-10 col-xs-offset-2">
				  	<label for="">Hora</label>
				  	<input type="time" ng-model="updatedStartHour" placeholder="{{ event.startHour }}" class="form-control">
				</div>
				<div class="form-group typeahead col-xs-10 col-xs-offset-2" ng-controller="TypeaheadCtrl">
				  	<label for="">Sitio</label>
				  	<input type="text" ng-model="selected" placeholder="Busque el sitio aquí" uib-typeahead="site as site.name for site in sites | filter:{name:$viewValue}" typeahead-popup-template-url="customPopupTemplate.html" class="form-control">
				</div>
				<div class="form-group typeahead col-xs-10 col-xs-offset-2" ng-controller="TypeaheadCtrl">
				  	<label for="">Tipo de Evento</label>
				  	<input type="text" ng-model="selected" placeholder="Busque el tipo de evento aquí" uib-typeahead="type as type.description for type in eventName | filter:{description:$viewValue}" typeahead-popup-template-url="customPopupTemplate.html" class="form-control">
				</div>
				<div class="form-group col-xs-10 col-lg-offset-2">
		          	<label for="">Descripción</label>
		          	<textarea type="text" ng-model="updatedEvent" placeholder="{{ event.description }}" class="form-control"></textarea>
		        </div>
				<div class="form-group">
					<label for="" class="col-xs-5 col-xs-offset-2">Zona</label>
					<label for="" class="col-xs-5">Precio</label>
					<div ng-repeat="price in event.prices">
						<div class="col-xs-5 col-xs-offset-2">
						  	<input type="text" class="form-control price-input" ng-model="updatedPlace" placeholder="{{ price.place }}" class="form-control">
						</div>
						<div class="col-xs-5">
						  	<input type="text" class="form-control price-input" ng-model="updatedPrice" placeholder="{{ price.amount | currency:'¢' }}" class="form-control">
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="col-xs-12 col-lg-2 col-lg-offset-2">
						<button type="button" class="btn plus-btn"><i class="fa fa-plus"></i>AGREGAR LOCACIÓN Y PRECIO</button>
					</div>
				</div>
				<div class="form-group col-xs-10 col-xs-offset-2">
				  <button class="btn next-btn align-right">EDITAR</button>
				</div>
			</form>
		</div>
	</div><!--.row-->
</main>