<main class="container">
	<div class="row">
		<div class="col-xs-6">
			<a href="#/"><i class="fa fa-hand-o-left fa-3x btn-back"></i></a>
		</div><!--.col-xs-6-->
	</div><!--.row-->
	<div class="row">
		<h1 class="text-center">{{ event.name | uppercase}}</h1>
	</div><!--.row-->
	<div class="row event-info">
		<div class="row info-block">
			<div class="col-xs-12 col-md-12 col-lg-6">
				<img ng-src="{{event.image}}" alt="Fotografía del Evento" class="img-responsive" width="100%">
			</div><!--.col-xs-12 .col-md-12 .col-lg-6-->
			<div class="col-xs-12 col-md-12 col-lg-6">
				<div class="row event-detail">
					<div class="col-xs-6">
						<h4><i class="fa fa-map-marker"></i> {{ getEventLocation(event.location, 'name') }}</h4>
					</div><!--.col-xs-6-->
					<div class="col-xs-2">
						<h4><i class="fa fa-clock-o"></i> {{ event.startHour }}</h4>
					</div><!--.col-xs-2-->	
					<div class="col-xs-4">
						<h4 class="pull-right"><i class="fa fa-calendar-check-o"></i> {{ event.date }}</h4>
					</div><!--.col-xs-4-->	
				</div><!--.row-->
				<div class="row">
					<div class="col-xs-12">
						<ng-map scrollwheel="false" center="{{ getEventLocation(event.location, 'geographicLoc') }}" zoom="15">
			  			    <marker position="{{ getEventLocation(event.location, 'geographicLoc') }}" optimized="true">
			  			    </marker>
			  			</ng-map>
					</div><!--.col-xs-12-->
				</div><!--.row-->
			</div><!--.col-xs-12 .col-md-12 .col-lg-6-->
		</div><!--.row .info-block-->	
		<div class="row info-block">
			<div class="col-xs-12 col-md-6">
				<div class="info-item">
					<h4>Precios</h4>
					<table class="list-group">
						<tr>
							<td ng-repeat="price in event.prices">{{ price.place }} : {{ price.amount | currency:'¢' }}</td>
						</tr>
					</table>
				</div><!--.info-item-->
			</div><!--.col-xs-6-->
			<div class="col-xs-12 col-md-6">
				<div class="info-item info-description">
					<h4>Descripción</h4>
					<p>{{ event.description }}</p>
				</div><!--.info-item-->
			</div><!--.col-xs-6-->
		</div><!--.row .info-block-->
		<div class="row info-block">
			<div class="col-md-12 col-lg-4">
				<button class="btn">RESERVAR</button>
			</div><!--.col-xs-4-->
			<div class="col-md-12 col-lg-4">
				<a href="#/buyTickets" class="btn"><i class="fa fa-credit-card"></i> COMPRAR</a>
			</div><!--.col-xs-4-->
			<div class="col-md-12 col-lg-4">
				<button href="" class="btn"><i class="fa fa-facebook"></i> COMPARTIR</button>
			</div><!--.col-xs-4-->
		</div><!--.row .info-block-->
	</div><!--.row .event-info-->
</main>