<main class="container">
	<div class="row">
        <ul class="nav col-md-6 col-md-offset-3">
            <li class="col-xs-6 text-center"><a href="#/login">Login</a></li>
            <li class="col-xs-6 text-center"><a href="#/register">Register</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control" placeholder="E-mail address" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock"></i></span>
                    <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
                </div>
            </div>
        </div>

        <a href=""></a>
	</div>
</main>