<main class="container">
	<div class="row user-profile" id="user-profile-{{ user.id }}" >

		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="panel user-card">
				<div class="panel-body row">
					<figure class="user-image" style="background: #ecf0f1 url({{ user.image }}) 0 0 no-repeat"></figure>
					<h1 class="user-name">{{ user.name + " " + user.lastName }}</h1>
					<p class="text-center"><a href="mailto:{{ user.email | lowercase }}">{{ user.email | lowercase }}</a></p>
					<p ng-show="user.personalId" class="text-center"><small>{{ user.personalId }}</small></p>
				</div>

				<div class="panel-body row text-center">
					<a class="btn" href="#/editProfile/{{ user.id }}"><i class="fa fa-pencil"></i> Edit</a>
					<button class="btn" ng-click="logout()" ng-hide="user.verified"><i class="fa fa-power-off"></i> Log Out</button>
					<button class="btn" ng-click="logoutFB()" ng-show="user.verified"><i class="fa fa-power-off"></i> Log Out</button>
				</div>
			</div>
		</div>

		<div class="col-sm-7 col-md-7 col-lg-7">
			<div ng-show="user.bio">
				<h2>About me</h2>
				<p>{{ user.bio }}</p>
				<hr>
			</div>
			<div ng-show="user.company">
				<h3>Company</h3>
				<p>{{ user.company }}</p>
				<hr>
			</div>
		</div>
	</div>
</main>