<main class="container">
	<div class="row session-tabs">
        <ul class="nav col-md-6 col-md-offset-3">
            <li class="col-xs-6 text-center"><a href="#/login">{{ translation.SIGIN }}</a></li>
            <li class="col-xs-6 text-center active"><a href="#/register">{{ translation.REGISTER }}</a></li>
        </ul>
    </div>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">80%</div>
    </div>

    <div class="container">
        <form name="registerForm" id="registerForm">
            <div class="row">
                <!-- <div class="col-xs-12 col-sm-6 col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                        <input type="text" class="form-control" ng-model="email" required name="txtUserEmail" placeholder="email@me.com">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" ng-model="password" required name="txtUserPassword">
                    </div>
                </div> -->
            </div>
        </form>

        <!-- <hr class="devider-light"> -->

        <!-- <div class="text-center">
            <p>{{ translation.ALTERNATIVE_SIGNIN_TEXT }}</p>

            <button class="btn btn-social btn-facebook col-xs-8 col-sm-6 col-lg-4 col-lg-offset-4 col-xs-offset-2 col-sm-offset-3" ng-click="facebookLogin()" ng-disabled="logginUser">
                <i class="fa fa-facebook"></i>
                <span>Facebook</span>
            </button>

             <button class="btn btn-social btn-twitter col-xs-12 col-sm-6 col-lg-6">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
            </button>
        </div> -->
	</div>
</main>