<main class="container">
	<h1 class="text-center">AGREGAR TIPO DE EVENTO</h1>

	<div class="row">
		<div class="col-xs-12 col-lg-6 col-lg-offset-3">
			<form role="form" name="addEventTypeForm" class="general-form row" novalidate>
				<div class="row">
		        	<div class="form-group col-xs-12">
			          	<label for="">Evento</label>
			          	<input type="text" name="newEventType" ng-model="newEventType" placeholder="Tipo de Evento" class="form-control" required>
			          	<div ng-messages="addEventTypeForm.newEventType.$error" ng-if="addEventTypeForm.newEventType.$touched" class="validate-messages">
			          	    <span ng-message="required" class="alert alert-danger">Este campo es obligatorio</span>
			          	</div><!--ng-messages-->
			        </div><!--.form-group .col-xs-12-->	
				</div><!--.row-->
				<div class="row">
					<div class="form-group col-xs-12">
					  <button class="btn next-btn align-right" ng-if="agregar" ng-disabled="addEventTypeForm.$invalid">AGREGAR</button>
					  <button class="btn next-btn align-right" ng-if="editar" ng-disabled="addEventTypeForm.$invalid">EDITAR</button>
					</div><!--.form-group .col-xs-12-->	
				</div>
			</form>
		</div><!--.col-xs-12 .col-lg-8 .col-lg-offset-2-->
	</div><!--.row-->
</main>