<main class="container">
	<h1 class="text-center">AGREGAR EVENTO</h1>

	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<form role="form" name="addEventForm" class="general-form row">
				<script type="text/ng-template" id="customPopupTemplate.html">
				  	<div class="col-xs-2 custom-popup-wrapper"
				     ng-style="{top: position().top+'px', left: position().left+'px'}"
				     style="display: block;"
				     ng-show="isOpen() && !moveInProgress"
				     aria-hidden="{{!isOpen()}}">
				    	<p class="message">Seleccione sitio</p>
				    	<ul class="dropdown-menu" role="listbox">
				        	<li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
				            ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
				            	<div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl">           		
				            	</div><!--uib-typeahead-match-->
				        	</li>
				    	</ul>
				  	</div><!--.col-xs-2 .custom-popup-wrapper-->
				</script>
				<div class="row">
					<div class="col-xs-2">
						<img ng-src="{{ newImageSource }}" alt="Fotografía del Evento" class="circle-thumbnail img-responsive">
						<label for="file-upload" class="custom-file-upload">
						   	<i class="fa fa-camera"></i> Cambiar
						</label>
						<input id="file-upload" ng-model="newImageSource" type="file" onchange="angular.element(this).scope().newImage(this)" class="btn file-input"></input>
				    </div><!--.col-xs-2-->
			        <div class="col-xs-10">
			        	<div class="form-group col-xs-12">
				          	<label for="">Evento</label>
				          	<input type="text" name="newEvent" ng-model="newEvent" placeholder="Nombre del Evento" class="form-control" required>
				          	<div ng-messages="addEventForm.newEvent.$error" ng-if="addEventForm.newEvent.$touched" class="validate-messages">
				          	    <span ng-message="required" class="alert alert-danger">Este campo es obligatorio</span>
				          	</div><!--ng-messages-->
				        </div><!--.form-group .col-xs-12-->
						<div class="form-group col-xs-12" ng-controller="DatepickerCtrl">
						    <label for="">Fecha</label>
						  	<input type="text" class="form-control" name="newDate" placeholder="{{ dt | date : 'dd/MM/yyyy' }}" ng-model="newDate" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
						  	<span class="input-group-btn">
						    	<button type="button" class="btn" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
						  	</span>
						  	<div ng-messages="addEventForm.newDate.$error" ng-if="addEventForm.newDate.$touched" class="validate-messages">
				          	    <span ng-message="required" class="alert alert-danger">Este campo es obligatorio</span>
				          	</div><!--ng-messages-->
						</div><!--.form-group .col-xs-12-->
						<div class="form-group col-xs-12">
						  	<label for="">Hora</label>
						  	<input type="text" name="newStartHour" ng-model="newStartHour" class="form-control" required>
						  	<div ng-messages="addEventForm.newStartHour.$error" ng-if="addEventForm.newStartHour.$touched" class="validate-messages">
				          	    <span ng-message="required" class="alert alert-danger">Este campo es obligatorio</span>
				          	</div><!--ng-messages-->
						</div><!--.form-group .col-xs-12-->
						<div class="form-group typeahead col-xs-12" ng-controller="TypeaheadCtrl">
						  	<label for="">Sitio</label>
						  	<input type="text" name="newLocation" ng-model="newLocation" placeholder="Busque el sitio aquí" uib-typeahead="site as site.name for site in eventLocations | filter:{name:$viewValue}" typeahead-popup-template-url="customPopupTemplate.html" class="form-control" required>
						  	<div ng-messages="addEventForm.newLocation.$error" ng-if="addEventForm.newLocation.$touched" class="validate-messages">
				          	    <span ng-message="required" class="alert alert-danger">Este campo es obligatorio</span>
				          	</div><!--ng-messages-->
						</div><!--.form-group .typeahead .col-xs-12-->
						<div class="form-group typeahead col-xs-12" ng-controller="TypeaheadCtrl">
						  	<label for="">Tipo de Evento</label>
						  	<input type="text" name="newEventType" ng-model="newEventType" placeholder="Busque el tipo de evento aquí" uib-typeahead="type as type.description for type in eventTypes | filter:{description:$viewValue}" typeahead-popup-template-url="customPopupTemplate.html" class="form-control" required>
						  	<div ng-messages="addEventForm.newEventType.$error" ng-if="addEventForm.newEventType.$touched" class="validate-messages">
				          	    <span ng-message="required" class="alert alert-danger">Este campo es obligatorio</span>
				          	</div><!--ng-messages-->
						</div><!--.form-group .typeahead .col-xs-12-->
						<div class="form-group col-xs-12">
				          	<label for="">Descripción</label>
				          	<textarea type="text" name="newDescription" ng-model="newDescription" placeholder="Descripción del evento" class="form-control" required>></textarea>
				          	<div ng-messages="addEventForm.newDescription.$error" ng-if="addEventForm.newDescription.$touched" class="validate-messages">
				          	    <span ng-message="required" class="alert alert-danger">Este campo es obligatorio</span>
				          	</div><!--ng-messages-->
				        </div><!--.form-group .col-xs-12-->
						<div class="form-group">
							<label for="" class="col-xs-6">Zona</label>
							<label for="" class="col-xs-6">Precio</label>
							<div ng-repeat="priceInput in priceInputs">
								<div class="col-xs-6">
								  	<input type="text" class="form-control price-input" name="newPlace" ng-model="newPlace" placeholder="Locación" class="form-control" required>
								  	<div ng-messages="addEventForm.newPlace.$error" ng-if="addEventForm.newPlace.$touched" class="validate-messages">
				          	    		<span ng-message="required" class="alert alert-danger">Este campo es obligatorio</span>
				          			</div><!--ng-messages-->
								</div><!--.col-xs-6-->
								<div class="col-xs-6">
								  	<input type="text" class="form-control price-input" name="newPrice" ng-model="newPrice" placeholder="Precio" class="form-control" required>
								  	<div ng-messages="addEventForm.newPrice.$error" ng-if="addEventForm.newPrice.$touched" class="validate-messages">
				          	    		<span ng-message="required" class="alert alert-danger">Este campo es obligatorio</span>
				          			</div><!--ng-messages-->
								</div><!--.col-xs-6-->
							</div><!--ng-repeat-->
						</div><!--.form-group-->
						<div class="row">
							<div class="col-xs-12">
								<button type="button" class="btn plus-btn" ng-click="addPriceInputs()" ng-disabled="addEventForm.newPlace.$invalid || addEventForm.newPrice.$invalid"><i class="fa fa-plus"></i>AGREGAR LOCACIÓN Y PRECIO</button>
							</div><!--.col-xs-12 .col-lg-2 .col-lg-offset-2-->
						</div><!--.row-->
						<div class="form-group col-xs-6">
						  <a href="#/eventsList" class="btn next-btn align-right">CANCELAR</a>
						</div><!--.form-group .col-xs-12-->	
						<div class="form-group col-xs-6">
						  <button class="btn next-btn align-right" ng-click="addEvent()" ng-disabled="addEventForm.$invalid">AGREGAR</button>
						</div><!--.form-group .col-xs-12-->
					</div><!--.col-xs-10-->
				</div><!--.row-->	
			</form>
		</div><!--.col-xs-12 .col-lg-8 .col-lg-offset-2-->
	</div><!--.row-->
</main>