<main class="wrapper container">
	<h1 class="text-center">{{ translation.TODO_TITTLE }}</h1>

	<div class="row">
		<div class="col-xs-6 col-md-4">
			<a href="/#eventsList" class="btn todo-btn">{{ translation.SEE_EVENTS }}</a>
		</div>
		<div class="col-xs-6 col-md-4">
			<a href="/#locationsList" class="btn todo-btn">{{ translation.SEE_LOCATIONS }}</a>
		</div>
		<div class="col-xs-6 col-md-4">
			<a href="/#eventTypesList" class="btn todo-btn">{{ translation.SEE_EVENT_TYPES }}</a>
		</div>
		<div class="col-xs-6 col-md-4">
			<a href="/#" class="btn todo-btn">{{ translation.SEE_PROMOTERS }}</a>
		</div>
		<div class="col-xs-6 col-md-4">
			<a href="/#" class="btn todo-btn">{{ translation.SEE_CASHIERS }}</a>
		</div>
		<div class="col-xs-6 col-md-4">
			<a href="/#" class="btn todo-btn">{{ translation.SEE_REPORTS }}</a>
		</div>
	</div><!--.row-->
</main>