<main class="wrapper container">
	<h1 class="text-center">{{ translation.TODO_TITTLE }}</h1>

	<hr>

	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<a href="/#buyTickets" class="btn todo-btn">
						<h3>{{ translation.BUY_TICKETS }}</h3> 
						<i class="fa fa-credit-card-alt fa-5x"></i>
					</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<a href="/#" class="btn todo-btn">
						<h3>{{ translation.REDEEM_TICKETS }}</h3>
						<i class="fa fa-ticket fa-5x"></i>
					</a>	 
				</div>
			</div>
		</div>
	</div><!--.row-->
</main>