<main class="container">
	<div class="row">
		<div class="col-xs-6">
			<a href="#/"><i class="fa fa-hand-o-left fa-3x btn-back"></i></a>
		</div>
	</div>

	<div ng-if="loadingData">
		<br><br><br>
		<div class="loading text-center">
			<i class="fa fa-spinner fa-pulse fa-5x fa-fw margin-bottom"></i>
			<span class="sr-only">Loading...</span>
		</div>
	</div>

	<div ng-if="loadingData === false">
		<div class="row">
			<h1 class="text-center">{{ event.name | uppercase}}</h1>
		</div>
		<div class="row event-info">
			<div class="row info-block">
				<div class="col-xs-12 col-md-12 col-lg-6">
					<img ng-src="{{event.image}}" alt="Fotografía del Evento" class="img-responsive" width="100%">
				</div>
				<div class="col-xs-12 col-lg-6">
					<div class="row event-detail">
						<div class="col-xs-12 col-sm-5 col-lg-5">
							<h5><i class="fa fa-map-marker"></i> {{ event.locationName }}</h5>
						</div>
						<div class="col-xs-6 col-sm-3 col-lg-3">
							<h5><i class="fa fa-clock-o"></i> {{ event.date | date:'hh:mm a' }}</h5>
						</div>
						<div class="col-xs-6 col-sm-4 col-lg-4">
							<h5 class="pull-right"><i class="fa fa-calendar-check-o"></i> {{ event.date | date:'longDate' }}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<ng-map scrollwheel="false" center="{{ event.geolocation }}" zoom="17">
				  			    <marker position="{{ event.geolocation }}" optimized="true">
				  			    </marker>
				  			</ng-map>
						</div>
					</div>
				</div>
			</div>
			<div class="row info-block">
				<div class="col-xs-12 col-md-6">
					<div class="info-item">
						<h4>{{ translation.PRICES_TEXT }}</h4>
						<table class="list-group">
							<tr>
								<td ng-repeat="price in event.rates">{{ price.ubicationName }} : {{ price.price | currency:'¢' }}</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="info-item info-description">
						<h4>{{ translation.DESCRIPTION_TEXT }}</h4>
						<p>{{ event.description }}</p>
					</div>
				</div>
			</div>
			<div class="row info-block">
				<div class="col-md-12 col-lg-4">
					<a href="#/reserveTickets/{{ event.id }}" class="btn"><i class="fa fa-unlock-alt"></i> {{ translation.RESERVE_BUTTON_TEXT }}</a>
				</div>
				<div class="col-md-12 col-lg-4">
					<a href="#/buyTickets/{{ event.id }}" class="btn"><i class="fa fa-credit-card"></i> {{ translation.BUY_BUTTON_TEXT }}</a>
				</div>
				<div class="col-md-12 col-lg-4">
					<button href="" class="btn"><i class="fa fa-facebook"></i> {{ translation.SHARE_BUTTON_TEXT }}</button>
				</div>
			</div>
		</div>
	</div>
</main>