<main class="container">
    <div class="container forgotPasswordCont">

        <div class="row" ng-show="emailSent">
            <div class="col-xs-12 col-sm-6 col-lg-6 col-lg-offset-3 col-sm-offset-3">
                <h1 class="text-center">{{ translation.THANKS_TITLE }}</h1>
                <div class="alert alert-success" role="alert">{{ translation.NEW_PASSWORD_SUCCESS }}</div>
            </div>
        </div>

        <form name="passwordForm" ng-hide="emailSent" ng-model="passwordForm" id="passwordForm" class="appForm" novalidate>

            <div class="alert alert-danger" role="alert" ng-if="error">{{ success }}</div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6 col-lg-offset-3 col-sm-offset-3">
                    <h1 class="text-center">{{ translation.FORGOT_PASSWORD }}</h1>
                    <p>{{ translation.REQUEST_NEW_PASSWORD_TEXT }}</p>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                        <input type="text" class="form-control" ng-model="email" name="txtUserEmail" placeholder="email@me.com" valid-email required>
                    </div>
                    <div ng-messages="passwordForm.txtUserEmail.$error" ng-if="passwordForm.txtUserEmail.$dirty" class="validate-messages">
                        <span ng-message="validEmail" class="alert alert-danger">El formato del email debe ser xxxx@yyyy.zzz</span>
                    </div>
                    <div ng-messages="passwordForm.txtUserEmail.$error" ng-if="passwordForm.txtUserEmail.$touched" class="validate-messages">
                        <span ng-message="required" class="alert alert-danger">Este campo es obligatorio</span>
                    </div><!--ng-messages-->
                    <button id="btnSubmit" class="btn col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-click="requestNewPassword()">{{ translation.REQUEST_NEW_PASSWORD_BUTTON_TEXT }}</button>
                </div>
            </div>
        </form>
	</div>
</main>