<main class="container">

	<div ng-show="allowedUser === false" class="row forbiddenArea text-center">
		<h2>{{ translation.FORBIDDEN_VIEW_TITLE }}</h2>
		<i class="fa fa-ban fa-5x"></i>
		<p>{{ translation.FORBIDDEN_VIEW_TEXT }}</p>
	</div>

	<div ng-if="allowedUser">
		<div ng-if="loadingData">
			<br><br><br>
			<div class="text-center loading">
				<i class="fa fa-spinner fa-pulse fa-5x fa-fw margin-bottom"></i>
				<br>
				<p>Loading sites...</p>
			</div>
		</div>

		<div ng-if="loadingData === false">
			<div class="row">
				<div class="col-xs-6">
					<a href="#/"><i class="fa fa-hand-o-left fa-3x btn-back"></i></a>
				</div><!--.col-xs-6-->
			</div><!--.row-->
			<h1 class="text-center">{{translation.LOCATIONS}}</h1>
			<hr>
			<div class="row">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<table class="table table-striped">
						<tr class="row" ng-repeat="location in locationsCol">
							<td class="col-xs-3 col-md-2 col-lg-2">
								<figure class="circle-thumbnail image-responsive center-block" style="background: #ecf0f1 url({{ location.image }}) 0 0 no-repeat; background-size: cover;"></figure>
							</td>
							<td class="col-xs-8 col-md-8 col-lg-8">
								<div class="info-td">
									<h4>{{ location.name }}</h4>
									<p>{{ location.capacity | number }} personas</p>
									<p>{{ location.address }}</p>
								</div>
							</td>
							<td class="col-xs-1 col-md-2 col-lg-2">
								<div class="row">
									<a href="#/editLocation/{{ location.id }}" class="col-xs-12 text-center two-lines"><i class="fa fa-pencil-square-o fa-2x"></i></a>
								</div>
								<div class="row">
									<a class="col-xs-12 text-center two-lines"><i class="fa fa-trash fa-2x" data-toggle="modal" data-target="#erraselocationsModal-{{location.id}}"></i></a>
								</div>
							</td>
							<td>
								<div class="modal fade" id="erraselocationsModal-{{location.id}}" tabindex="0" aria-labelledby="Confimación de borrar" role="dialog">
								  	<div class="modal-dialog">
									    <div class="modal-content">
									        <div class="modal-header">
									          	<img ng-src="{{ location.image }}" alt="Fotografía del Sitio" class="circle-thumbnail img-responsive">
									        </div>
									        <div class="modal-body">
									        	<h4 class="text-center">{{ location.name }}</h4>
									        	<p class="text-center">{{ translation.DELETE_CONFIRM }}</p>
									        </div>
									        <div class="modal-footer">
									          	<button type="button" class="btn" data-dismiss="modal">{{ translation.CANCEL }}</button>
									          	<button type="button" class="btn" ng-click="erraseLocation(location.id)">{{ translation.DELETE }}</button>
									        </div>
									    </div>
								  	</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-lg-2 col-lg-offset-2">
					<a href="#/addLocation" type="button" class="btn plus-btn"><i class="fa fa-plus"></i>{{ translation.ADD_LOCATION }}</a>
				</div>
			</div>
		</div>
	</div>
</main>