<main class="container">
	<div class="row">
		<div class="col-xs-6">
			<a href="#/"><i class="fa fa-hand-o-left fa-3x btn-back"></i></a>
		</div><!--.col-xs-6-->
	</div><!--.row-->
	<h1 class="text-center">{{translation.LOCATIONS}}</h1>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<table class="table table-striped">
				<tr class="row" ng-repeat="location in locationsCol">
					<td class="col-xs-3 col-md-2 col-lg-2">
						<img ng-src="{{ location.image }}" alt="Fotografía del Sitio" class="circle-thumbnail img-responsive">
					</td>
					<td class="col-xs-8 col-md-8 col-lg-8">
						<div class="info-td">
							<h4>{{ location.name }}</h4>
							<p>{{ location.capacity }} personas</p>
							<p>{{ location.address }}</p>
						</div>
					</td>
					<td class="col-xs-1 col-md-2 col-lg-2">
						<div class="row">
							<a href="#/editLocation/{{ location.id }}" class="col-xs-12 text-center two-lines"><i class="fa fa-pencil-square-o fa-2x"></i></a>
						</div>
						<div class="row">
							<a class="col-xs-12 text-center two-lines"><i class="fa fa-trash fa-2x" data-toggle="modal" data-target="#erraselocationsModal-{{$index}}"></i></a>
						</div>
					</td>
					<td>
						<div class="modal fade" id="erraselocationsModal-{{$index}}" tabindex="0" aria-labelledby="Confimación de borrar" role="dialog">
						  	<div class="modal-dialog">
							    <div class="modal-content">
							        <div class="modal-header">
							          	<img ng-src="{{ location.image }}" alt="Fotografía del Sitio" class="circle-thumbnail img-responsive">
							        </div>
							        <div class="modal-body">
							        	<h4 class="text-center">{{ location.name }}</h4>
							        	<p class="text-center">¿Está seguro que quiere borrar este Sitio?</p>
							        </div>
							        <div class="modal-footer">
							          	<button type="button" class="btn" data-dismiss="modal">CANCELAR</button>
							          	<button type="button" class="btn" data-dismiss="modal" ng-click="erraselocation($index)">ELIMINAR</button>
							        </div>
							    </div>
						  	</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-lg-2 col-lg-offset-2">
			<a href="#/addLocation" type="button" class="btn plus-btn"><i class="fa fa-plus"></i>{{ translation.ADD_LOCATION }}</a>
		</div>
	</div>
</main>