<main class="container">
	<div class="row session-tabs">
        <ul class="nav col-md-6 col-md-offset-3">
            <li class="col-xs-6 text-center active"><a href="#/login">{{ translation.SIGIN }}</a></li>
            <li class="col-xs-6 text-center"><a href="#/register">{{ translation.REGISTER }}</a></li>
        </ul>
    </div>

    <hr>

    <div class="container container-login">
        <form name="loginForm" id="loginForm" class="appForm general-form" novalidate autocomplete="false">

            <div class="alert alert-danger" role="alert" ng-if="error"><span ng-bind-html="error"></span></div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                        <input type="text" class="form-control" ng-model="email" name="txtUserEmail" placeholder="email@me.com" valid-email required>
                    </div>
                    <div ng-messages="loginForm.txtUserEmail.$error" ng-if="loginForm.txtUserEmail.$touched && loginForm.txtUserEmail.$invalid" class="validate-messages">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" ng-model="password" required name="txtUserPassword">
                    </div>
                </div>
            </div>

            <div class="row forgot-password">
                <div class="container">
                    <a href="#/forgot">{{ translation.FORGOT_PASSWORD }}</a>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <button id="btnSubmit" class="btn col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-click="login()" ng-disabled="loginForm.$invalid">{{ translation.SIGIN }}</button>
                </div>
            </div>
        </form>
        <hr class="devider-light">
        <div class="text-center">
            <p>{{ translation.ALTERNATIVE_SIGIN_TEXT }}</p>

            <button class="btn btn-social btn-facebook col-xs-8 col-sm-6 col-lg-4 col-lg-offset-4 col-xs-offset-2 col-sm-offset-3" ng-click="facebookLogin()" ng-disabled="logginUser">
                <i class="fa fa-facebook"></i>
                <span>Facebook</span>
            </button>
        </div>
	</div>
</main>