<main class="container">
	<div class="row user-profile" id="user-profile-{{ user.id }}" >

		<div id="resume" class="col-sm-4 col-md-5 col-lg-4">
			<div class="panel user-card">
				<div class="panel-body row">
					<figure class="user-image" style="background: #ecf0f1 url({{ user.photoURL }}) 0 0 no-repeat"></figure>
					<h1 class="user-name"><span ng-if="user.nickname != 'NULL'">{{ user.nickname }}</span><span ng-if="user.nickname == 'NULL'">{{ user.firstName + ' ' + user.lastName }}</span></h1>
					<i ng-class="[fa, {'fa-male':user.gender == 'M', 'fa-male':user.gender == 'F', 'fa-user':user.gender == 'O'}]"></i>
					<hr class="devider-light">
					<p class="text-center"><i class="fa fa-envelope"></i> <a href="mailto:{{ user.email | lowercase }}">{{ user.email | lowercase }}</a></p>
					<p class="text-center"><i class="fa fa-phone"></i> <a href="tel:{{ user.phone }}">{{ user.phone }}</a></p>

					<div class="alert alert-danger" role="alert" ng-if="error"><span ng-bind-html="error"></span></div>
				</div>

				<div class="panel-body row text-center">
					<a class="btn" ng-show="!user.facebook" href="#/editProfile/{{ user.id }}" ng-disabled="endingSession"><i class="fa fa-pencil"></i> {{ translation.EDIT_BUTTON_TEXT }}</a>
					<button class="btn" ng-click="logout()" ng-hide="user.facebook" ng-disabled="endingSession"><i class="fa fa-power-off"></i> {{ translation.LOGOUT_BUTTON_TEXT }}</button>
					<button class="btn" ng-click="logoutFB()" ng-show="user.facebook" ng-disabled="endingSession"><i class="fa fa-power-off"></i> {{ translation.LOGOUT_BUTTON_TEXT }}</button>
				</div>
			</div>
		</div>

		<div id="more" class="col-sm-7 col-md-6 col-lg-7">
			<h2>{{ translation.USER_INFO_TITLE }}</h2>
			<hr>
			<div class="details" ng-if="!user.facebook">
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-4">
						<p>{{ translation.USER.PERSONALID_TEXT }}</p>
					</div>
					<div class="col-sm-12 col-md-7 col-lg-7">
						<p>{{ user.identification }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-4">
						<p>{{ translation.USER.FULL_NAME_TEXT }}</p>
					</div>
					<div class="col-sm-12 col-md-7 col-lg-7">
						<p>{{ user_fullName }}</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-4">
						<p>{{ translation.USER.BIRTHDATE_TEXT }}</p>
					</div>
					<div class="col-sm-12 col-md-7 col-lg-7">
						<p>{{ user.birthDate | date : 'fullDate' }}</p>
					</div>
				</div>
			</div>
			<a href="#/adminMenu" class="btn col-xs-12 center-block" ng-if="user.rol === '1'">{{ translation.ADMIN_PANEL }}</a>
		</div>
	</div>
</main>