<main class="container">
    <div class="row session-tabs" ng-if="!emailSent">
        <ul class="nav col-md-6 col-md-offset-3">
            <li class="col-xs-6 text-center"><a href="#/login">{{ translation.SIGIN }}</a></li>
            <li class="col-xs-6 text-center active"><a href="#/register">{{ translation.REGISTER }}</a></li>
        </ul>
    </div>
    <hr>
    <div class="container">

        <div class="row" ng-if="emailSent">
            <div class="col-xs-12 col-sm-6 col-lg-6 col-lg-offset-3 col-sm-offset-3">
                <h1 class="text-center">{{ translation.THANKS_TITLE }}</h1>
                <div class="alert alert-success" role="alert">{{ translation.NEW_ACCOUNT_SUCCESS }}</div>
                <a href="#/" class="btn center-block">{{ translation.GO_BACK }}</a>
            </div>
        </div>

        <form role="form" id="registerForm" name="registerForm" class="general-form row" ng-if="!emailSent" ng-submit="signUp()" novalidate autocomplete="false">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 register-photo">
                    <img id="userImage" ng-src="{{ editItem._attachments_uri.image || 'front-end/img/users/profilePlaceholder.png' }}" alt="Fotografía del Evento" class="circle-thumbnail img-responsive">
                    <label for="file-upload" class="custom-file-upload">
                        <i class="fa fa-camera"></i> {{ translation.CHANGE_PHOTO_BUTTON_TEXT }}
                    </label>
                    <input id="file-upload" type="file" ng-model="editItem._attachments_uri.image" accept="image/*" app-filereader class="btn file-input"/>
                </div><!--.col-xs-2-->
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 register-form">
                    <div id="response" class="alert alert-danger" tabindex="0" role="alert" ng-if="error">{{ error }}</div>

                    <div class="form-group col-xs-12">
                        <label for="firstName">{{ translation.REGISTRATION.FIRST_NAME }}</label>
                        <input id="firstName" type="text" name="firstName" ng-model="user.firstName" class="form-control" ng-pattern="/^[a-zA-Z]*$/" required>
                        <div ng-messages="registerForm.firstName.$error" ng-if="registerForm.firstName.$touched && registerForm.firstName.$invalid" class="validate-messages">
                            <div ng-messages-include="error-messages"></div>
                        </div><!--ng-messages-->
                    </div><!--.form-group .col-xs-12-->

                    <div class="form-group col-xs-12">
                        <label for="middleName">{{ translation.REGISTRATION.MIDDLE_NAME }}</label>
                        <input id="middleName" type="text" name="middleName" ng-model="user.middleName" class="form-control" ng-pattern="/^[a-zA-Z]*$/">
                        <div ng-messages="registerForm.middleName.$error" ng-if="registerForm.middleName.$touched && registerForm.middleName.$invalid" class="validate-messages">
                            <div ng-messages-include="error-messages"></div>
                        </div><!--ng-messages-->
                    </div><!--.form-group .col-xs-12-->

                    <div class="form-group col-xs-12">
                        <label for="lastName">{{ translation.REGISTRATION.LAST_NAME }}</label>
                        <input id="lastName" type="text" name="lastName" ng-model="user.lastName" class="form-control" ng-pattern="/^[a-zA-Z]*$/" required>
                        <div ng-messages="registerForm.lastName.$error" ng-if="registerForm.lastName.$touched && registerForm.lastName.$invalid" class="validate-messages">
                            <div ng-messages-include="error-messages"></div>
                        </div><!--ng-messages-->
                    </div><!--.form-group .col-xs-12-->

                    <div class="form-group col-xs-12">
                        <label for="secondSurname">{{ translation.REGISTRATION.SECOND_SURNAME }}</label>
                        <input id="secondSurname" type="text" name="secondSurname" ng-model="user.secondSurname" class="form-control" ng-pattern="/^[a-zA-Z]*$/">
                        <div ng-messages="registerForm.secondSurname.$error" ng-if="registerForm.secondSurname.$touched && registerForm.secondSurname.$invalid" class="validate-messages">
                            <div ng-messages-include="error-messages"></div>
                        </div><!--ng-messages-->
                    </div><!--.form-group .col-xs-12-->

                    <div class="col-xs-12">
                        <style>
                            .checkbox-label {
                              cursor: pointer;
                              user-select: none;
                              -webkit-user-select: none;
                              -webkit-touch-callout: none;
                                  margin-right: 17px;
                            }

                            .checkbox-label > input {
                              visibility: hidden;
                              position: absolute;
                            }

                            .checkbox-label > i {
                                  display: inline-block;
                                vertical-align: middle;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                transition: 0.2s;
                                box-shadow: inset 0 0 0 8px #d7d3d3;
                                background: #acacac;
                                    margin-right: 11px;
                            }

                            .checkbox-label:hover > i {
                              box-shadow: inset 0 0 0 5px #e57368;
                              background: #d3362d;
                            }

                            .checkbox-label > input:checked + i {
                                  box-shadow: inset 0 0 0 8px #e57368;
                                    background: #d3362d;
                            }
                        </style>
                        <div class="form-gender">
                            <label for="">{{ translation.REGISTRATION.IDENTIFICATION_TYPE.LABEL }}</label><br>
                            <label class="checkbox-label">
                                <input type="radio" ng-model="user.identificationType" value="1" name="identificationType" required>
                                <i></i> {{ translation.REGISTRATION.IDENTIFICATION_TYPE.LOCAL }}
                            </label>
                            <label class="checkbox-label">
                                <input type="radio" ng-model="user.identificationType" value="2" name="identificationType">
                                <i></i> {{ translation.REGISTRATION.IDENTIFICATION_TYPE.FOREIGN }}
                            </label>
                            <label class="checkbox-label">
                                <input type="radio" ng-model="user.identificationType" value="3" name="identificationType">
                                <i></i> {{ translation.REGISTRATION.IDENTIFICATION_TYPE.OTHER }}
                            </label>
                        </div>
                    </div><!--.form-group .col-xs-12-->

                    <div class="form-group col-xs-12">
                        <label for="identification">{{ translation.REGISTRATION.IDENTIFICATION }}</label>
                        <input id="identification" type="text" name="identification" ng-model="user.identification" class="form-control" required>
                        <div ng-messages="registerForm.identification.$error" ng-if="registerForm.identification.$touched && registerForm.identification.$invalid" class="validate-messages">
                            <div ng-messages-include="error-messages"></div>
                        </div><!--ng-messages-->
                    </div><!--.form-group .col-xs-12-->

                    <div class="form-group col-xs-12">
                        <label for="nickname">{{ translation.REGISTRATION.NICKNAME }}</label>
                        <input id="nickname" type="text" name="nickname" ng-model="user.nickname" class="form-control">
                    </div><!--.form-group .col-xs-12-->

                    <div class="form-group col-xs-12" ng-controller="DatepickerCtrl">
                        <label for="">{{ translation.REGISTRATION.BIRTHDATE }}</label>
                        <input id="selectedDate" type="text" class="form-control" name="birthDate" placeholder="{{translation.SELECT_DATE}}" ng-model="birthDate" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions_RegisterUser" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                        <span class="input-group-btn">
                            <button type="button" class="btn" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <div ng-messages="registerForm.birthDate.$error" ng-if="registerForm.birthDate.$touched && registerForm.birthDate.$invalid" class="validate-messages">
                            <div ng-messages-include="error-messages"></div>
                        </div><!--ng-messages-->
                    </div><!--.form-group .col-xs-12-->

                    <div class="form-group col-xs-12">
                        <label for="">{{ translation.REGISTRATION.EMAIL }}</label>
                        <input type="text" class="form-control" ng-model="user.email" name="email" placeholder="email@me.com" valid-email required>
                        <div ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched && registerForm.email.$invalid" class="validate-messages">
                            <div ng-messages-include="error-messages"></div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="">{{ translation.REGISTRATION.PASSWORD }}</label>
                        <input type="password" class="form-control" ng-model="user.hash" name="hash" valid-password required>
                        <div ng-messages="registerForm.hash.$error" ng-if="registerForm.hash.$touched && registerForm.hash.$invalid" class="validate-messages">
                            <div ng-messages-include="error-messages"></div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="">{{ translation.REGISTRATION.VERIFY_PASSWORD }}</label>
                        <input type="password" class="form-control" ng-model="user.verifyPassword" name="verifyPassword" compare-to="user.hash" required>
                        <div ng-messages="registerForm.verifyPassword.$error" ng-if="registerForm.verifyPassword.$touched && registerForm.verifyPassword.$invalid" class="validate-messages">
                            <div ng-messages-include="error-messages"></div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="">{{ translation.REGISTRATION.PHONE }}</label>
                        <input type="text" class="form-control" ng-model="user.phone" name="phone" valid-number required>
                        <div ng-messages="registerForm.phone.$error" ng-if="registerForm.phone.$touched && registerForm.phone.$invalid" class="validate-messages">
                            <div ng-messages-include="error-messages"></div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-gender">
                            <label for="">{{ translation.REGISTRATION.GENDER.LABEL }}</label><br>
                            <label class="radio-inline"><input type="radio" ng-model="user.gender" value="M" name="gender" required="">{{ translation.REGISTRATION.GENDER.MALE }}</label>
                            <label class="radio-inline"><input type="radio" ng-model="user.gender" value="F" name="gender">{{ translation.REGISTRATION.GENDER.FEMALE }}</label>
                            <label class="radio-inline"><input type="radio" ng-model="user.gender" value="O" name="gender">{{ translation.REGISTRATION.GENDER.OTHER }}</label>
                        </div>
                    </div><!--.form-group .col-xs-12-->

                    <div class="form-group col-xs-12">
                        <label for="disability">{{ translation.REGISTRATION.DISABILITY }}</label>
                        <input id="disability" type="text" name="disability" ng-model="user.disability" class="form-control">
                    </div><!--.form-group .col-xs-12-->

                    <div class="form-group col-xs-12">
                        <label for="specialCondition">{{ translation.REGISTRATION.SPECIAL_CONDITIONS }}</label>
                        <input id="specialCondition" type="text" name="specialCondition" ng-model="user.specialCondition" class="form-control">
                    </div><!--.form-group .col-xs-12-->

                    <div class="form-group col-xs-12">
                      <button class="btn next-btn col-xs-12 col-lg-12" ng-disabled="registerForm.$invalid || processing">{{ translation.REGISTER }}</button>
                    </div><!--.form-group .col-xs-12-->
                </div><!--.col-xs-10-->
            </div><!--.row-->
        </form>
    </div>
</main>