<main class="container">
  <h1 class="text-center">Compra de entradas</h1>
  <hr>
  <div class="row row-centered">
    <div class="col-md-6 col-centered">
      <form role="form" class="general-form">
        <div class="custom-popup-wrapper form-group"
           ng-style="{top: position().top+'px', left: position().left+'px'}"
           style="display: block;"
           ng-show="isOpen() && !moveInProgress"
           aria-hidden="{{!isOpen()}}">
          <p class="message">Seleccione un evento de la lista.</p>
          <ul class="dropdown-menu" role="listbox">
              <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
                  ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                  <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
              </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="">Nombre del dueño de la tarjeta</label>
          <input type="text" class="form-control">
        </div>
        <style>
          .select-style {
            background: #fff url("../img/down-arrow.png") no-repeat 96% 50%;
            background-size: 34px 20px;
          }
          .select-style select {
              padding: 19px 11px;
              width: 130%;
              border: none;
              box-shadow: none;
              background-color: transparent;
              background-image: none;
              -webkit-appearance: none;
                 -moz-appearance: none;
                      appearance: none;
          }
          .select-style select:focus {
              outline: none;
          }
        </style>
        <div class="form-group">
          <label for="">Tipo de tarjeta</label>
          <div class="select-style">
            <select>
              <option value="visa">Visa</option>
              <option value="americanexpress">American Express</option>
              <option value="mastercard">Master Card</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="">Número de tarjeta</label>
          <span class="type-card-icon"><i class="fa fa-cc-visa"></i></span>
          <input type="text" class="form-control card-number" />
        </div>
        <div class="form-group">
          <label for="">Código de seguridad</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <a href="#/buyTickets/tickets/seats/detail/cardinformation/success" class="btn next-btn align-right">siguiente</a>
        </div>
      </form>
    </div>
  </div>
</main>