<main class="container">
  <h1 class="text-center">Compra de entradas</h1>
  <hr>
  <div class="row row-centered">
    <div class="col-md-6 col-centered">
      <form role="form" class="general-form">
        <div class="form-group" ng-controller="DatepickerCtrl">
          <label for="" class="ticket-type">Sombra</label>
          <label for="" class="ticket-price" ng-model="itemPrice">35000</label>
          <span class="subtotal-qty">Subtotal: <span>{{ initialAmount | currency:"" }}</span></span>
          <input type="text" class="form-control" />
          <span class="input-group-btn">
            <button type="button" class="btn cant-tickets-btn minus-btn" ng-click="differenceValues();"><i class="fa fa-minus"></i></button>
          </span>
          <span class="input-group-btn">
            <button type="button" class="btn cant-tickets-btn" value="2000" ng-click="sumValues();"><i class="fa fa-plus"></i></button>
          </span>
        </div>
        <div class="form-group" ng-controller="DatepickerCtrl">
          <label for="" class="ticket-type">Platea</label>
          <label for="" class="ticket-price">40000</label>
          <span class="subtotal-qty">Subtotal: <span>0</span></span>
          <input type="text" class="form-control" />
          <span class="input-group-btn">
            <button type="button" class="btn cant-tickets-btn minus-btn"><i class="fa fa-minus"></i></button>
          </span>
          <span class="input-group-btn">
            <button type="button" class="btn cant-tickets-btn"><i class="fa fa-plus"></i></button>
          </span>
        </div>
        <div class="form-group" ng-controller="DatepickerCtrl">
          <label for="" class="ticket-type">VIP</label>
          <span class="subtotal-qty">Subtotal: <span>0</span></span>
          <label for="" class="ticket-price">60000</label>
          <input type="text" class="form-control" />
          <span class="input-group-btn">
            <button type="button" class="btn cant-tickets-btn minus-btn"><i class="fa fa-minus"></i></button>
          </span>
          <span class="input-group-btn">
            <button type="button" class="btn cant-tickets-btn"><i class="fa fa-plus"></i></button>
          </span>
        </div>
        <div class="form-group">
          <a href="#/buyTickets/tickets/seats" class="btn next-btn align-right">{{translation.NEXT}}</a>
        </div>
      </form>
    </div>
  </div>
</main>