<main class="container">
  <h1 class="text-center">Compra de entradas</h1>
  <hr>
  <div class="row row-centered">
    <div class="col-md-6 col-centered">
      <form role="form" class="general-form">
        <div class="form-group" ng-controller="DatepickerCtrl">
          <!-- <label for="">Seleccione sus asientos</label> -->
          <label for="">Seleccione el area que desea</label>
        </div>
        <div class="form-group" ng-controller="DatepickerCtrl">
          <div class="center-area">
            <div class="row scenario-row">
              <span>Escenario</span>
            </div>
            <div class="row first-row">
              <div class="seat-stadium-col" data-toggle="modal" data-target="#seatsModal">
                <a href="">VIP 1</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">VIP 2</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">VIP 3</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">VIP 4</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">VIP 5</a>
              </div>
            </div>
            <div class="row second-row">
              <div class="seat-stadium-col">
                <a href="">VIP 6</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">VIP 7</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">VIP 8</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">VIP 9</a>
              </div>
              <div class="seat-stadium-col">
                <a href="" class="vip-10">VIP 10</a>
              </div>
            </div>
            <div class="row third-row">
              <div class="seat-stadium-col">
                <a href="" class="vip-10">VIP 11</a>
              </div>
              <div class="seat-stadium-col">
                <a href="" class="vip-10">VIP 12</a>
              </div>
              <div class="seat-stadium-col">
                <a href="" class="vip-10">VIP 13</a>
              </div>
              <div class="seat-stadium-col">
                <a href="" class="vip-10">VIP 14</a>
              </div>
              <div class="seat-stadium-col">
                <a href="" class="vip-10">VIP 15</a>
              </div>
            </div>
            <div class="row gramilla-general">
              <span>Gramilla General</span>
            </div>
          </div>
          <div class="right-area">
            <div class="row">
              <div class="seat-stadium-col">
                <a href="">E2</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E3</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E4</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E5</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E6</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E7</a>
              </div>
            </div>
            <div class="row row2">
              <div class="seat-stadium-col">
                <a href="">E8</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E9</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E10</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E11</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E12</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E13</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E14</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E15</a>
              </div>
            </div>
            <div class="row row3">
              <div class="seat-stadium-col">
                <a href="">E16</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E17</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E18</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E19</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E20</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E21</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E22</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E23</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E24</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">E25</a>
              </div>
            </div>
          </div>
          <div class="right-area left-left">
            <div class="row row4">
              <div class="seat-stadium-col">
                <a href="">F16</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F17</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F18</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F19</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F20</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F21</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F22</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F23</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F24</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F25</a>
              </div>
            </div>
            <div class="row row2">
              <div class="seat-stadium-col">
                <a href="">F8</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F9</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F10</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F11</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F12</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F13</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F14</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F15</a>
              </div>
            </div>
            <div class="row row3">
              <div class="seat-stadium-col">
                <a href="">F2</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F3</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F4</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F5</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F6</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">F7</a>
              </div>
            </div>
          </div>
          <div class="bottom-area">
            <div class="row">
              <div class="seat-stadium-col">
                <a href="">S5</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">S4</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">S3</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">S2</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">S1</a>
              </div>
            </div>
          </div>
          <div class="bottom-area area-2">
            <div class="row">
              <div class="seat-stadium-col">
                <a href="" class="two-digit-seat">S10</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">S9</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">S8</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">S7</a>
              </div>
              <div class="seat-stadium-col">
                <a href="">S6</a>
              </div>
            </div>
          </div>
          <div class="modal fade" id="seatsModal" tabindex="0" aria-labelledby="Confimación de Asientos" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Seleccione sus asientos VIP</h4>
                    </div>
                    <div class="modal-body">
                      <div class="seat-row vip-row vip-1">
                          <div class="pull-left">
                            <span class="text-uppercase">a</span>
                            <a href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href="">4</a>
                            <a href="">5</a>
                          </div>
                        </div>
                        <div class="seat-row vip-row">
                          <div class="pull-left">
                            <span class="text-uppercase">b</span>
                            <a href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href="">4</a>
                            <a href="">5</a>
                          </div>
                        </div>
                        <div class="seat-row vip-row">
                          <div class="pull-left">
                            <span class="text-uppercase">c</span>
                            <a href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href="">4</a>
                            <a href="">5</a>
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">CANCELAR</button>
                        <button type="button" class="btn" data-dismiss="modal">COMPRAR</button>
                    </div>
                </div>
              </div>
          </div>
          <!-- <div class="screen-position">
            <span class=" text-uppercase">pantalla</span>
          </div>
          <div class="seat-row">
            <div class="pull-left">
              <span class="text-uppercase">a</span>
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
            </div>
            <div class="pull-right">
              <a href="">4</a>
              <a href="">5</a>
              <a href="">6</a>
            </div>
          </div>
          <div class="seat-row">
            <div class="pull-left">
              <span class="text-uppercase">b</span>
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
            </div>
            <div class="pull-right">
              <a href="">4</a>
              <a href="">5</a>
              <a href="">6</a>
            </div>
          </div>
          <div class="seat-row">
            <div class="pull-left">
              <span class="text-uppercase">c</span>
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
            </div>
            <div class="pull-left center-col-seats">
              <a href="">4</a>
              <a href="">5</a>
              <a href="">6</a>
              <a href="">7</a>
            </div>
            <div class="pull-right">
              <a href="">8</a>
              <a href="">9</a>
              <a href="" class="two-digit-seat">10</a>
            </div>
          </div>
          <div class="seat-row">
            <div class="pull-left">
              <span class="text-uppercase">d</span>
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
            </div>
            <div class="pull-left center-col-seats">
              <a href="">4</a>
              <a href="">5</a>
              <a href="">6</a>
              <a href="">7</a>
            </div>
            <div class="pull-right">
              <a href="">8</a>
              <a href="">9</a>
              <a href="" class="two-digit-seat">10</a>
            </div>
          </div>
          <div class="seat-row e-row">
            <div class="pull-left">
              <span class="text-uppercase">e</span>
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
            </div>
            <div class="pull-left center-col-seats">
              <a href="">4</a>
              <a href="">5</a>
              <a href="">6</a>
              <a href="">7</a>
            </div>
            <div class="pull-right">
              <a href="">8</a>
              <a href="">9</a>
              <a href="" class="two-digit-seat">10</a>
            </div>
          </div>
          <div class="seat-row seat-type seat-row-top">
            <div class="pull-left">
              <a href=""></a>
              <span>Disponibles</span>
            </div>
            <div class="pull-right">
              <a href="" class="special-seat"></a>
              <span>Espacio especial</span>
            </div>
          </div>
          <div class="seat-row seat-type seat-type-second-col">
            <div class="pull-left">
              <a href="" class="your-seat"></a>
              <span>Su asiento</span>
            </div>
            <div class="pull-right seat-type-second-col">
              <a href="" class="sold"></a>
              <span>Vendidos</span>
            </div>
          </div> -->
        </div>
        <div class="form-group next-stadium-seat">
          <a href="#/buyTickets/tickets/seats/detail" class="btn next-btn align-right">{{translation.NEXT}}</a>
        </div>
      </form>
    </div>
  </div>
</main>