<main class="container">
  <h1 class="text-center">Compra de entradas</h1>
  <hr>
  <div class="row row-centered">
    <div class="col-md-6 col-centered">
      <form role="form" class="general-form">
        <div class="form-group" ng-controller="DatepickerCtrl">
          <label for="">Seleccione sus asientos</label>
        </div>
        <div class="form-group" ng-controller="DatepickerCtrl">
          <div class="screen-position">
            <span class=" text-uppercase">pantalla</span>
          </div>
          <div class="seat-row">
            <div class="pull-left">
              <span class="text-uppercase">a</span>
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
            </div>
            <div class="pull-right">
              <a href="">4</a>
              <a href="">5</a>
              <a href="">6</a>
            </div>
          </div>
          <div class="seat-row">
            <div class="pull-left">
              <span class="text-uppercase">b</span>
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
            </div>
            <div class="pull-right">
              <a href="">4</a>
              <a href="">5</a>
              <a href="">6</a>
            </div>
          </div>
          <div class="seat-row">
            <div class="pull-left">
              <span class="text-uppercase">c</span>
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
            </div>
            <div class="pull-left center-col-seats">
              <a href="">4</a>
              <a href="">5</a>
              <a href="">6</a>
              <a href="">7</a>
            </div>
            <div class="pull-right">
              <a href="">8</a>
              <a href="">9</a>
              <a href="" class="two-digit-seat">10</a>
            </div>
          </div>
          <div class="seat-row">
            <div class="pull-left">
              <span class="text-uppercase">d</span>
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
            </div>
            <div class="pull-left center-col-seats">
              <a href="">4</a>
              <a href="">5</a>
              <a href="">6</a>
              <a href="">7</a>
            </div>
            <div class="pull-right">
              <a href="">8</a>
              <a href="">9</a>
              <a href="" class="two-digit-seat">10</a>
            </div>
          </div>
          <div class="seat-row e-row">
            <div class="pull-left">
              <span class="text-uppercase">e</span>
              <a href="">1</a>
              <a href="">2</a>
              <a href="">3</a>
            </div>
            <div class="pull-left center-col-seats">
              <a href="">4</a>
              <a href="">5</a>
              <a href="">6</a>
              <a href="">7</a>
            </div>
            <div class="pull-right">
              <a href="">8</a>
              <a href="">9</a>
              <a href="" class="two-digit-seat">10</a>
            </div>
          </div>
          <div class="seat-row seat-type seat-row-top">
            <div class="pull-left">
              <a href=""></a>
              <span>Disponibles</span>
            </div>
            <div class="pull-right">
              <a href="" class="special-seat"></a>
              <span>Espacio especial</span>
            </div>
          </div>
          <div class="seat-row seat-type seat-type-second-col">
            <div class="pull-left">
              <a href="" class="your-seat"></a>
              <span>Su asiento</span>
            </div>
            <div class="pull-right seat-type-second-col">
              <a href="" class="sold"></a>
              <span>Vendidos</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <a href="#/buyTickets/tickets/seats/detail" class="btn next-btn align-right">siguiente</a>
        </div>
      </form>
    </div>
  </div>
</main>