<main class="container">
  <h1 class="text-center">Compra de entradas</h1>
  <hr>
  <div class="row row-centered">
    <div class="col-md-6 col-centered detail-buy">
        <div class="detail-buy-heading">
          <span>Su compra</span>
        </div>
        <div class="detail-buy-container">
          <h3>Concierto Iron Maiden</h3>
          <p>Fecha <span>09/04/16</span></p>
          <p>Hora <span>19:00</span></p>
          <p>Lugar: <span>Estadio Nacional</span></p>
          <p>Asientos: <span>A1 - A2 - A3</span></p>
          <p>Total: <span>3000</span></p>
        </div>
        <div class="detail-buy-information">
          <label for="">Nombre</label>
          <input type="text" class="form-control"/>
        </div>
        <div class="detail-buy-information">
          <label for="">Correo electrónico</label>
          <input type="email" class="form-control"/>
        </div>
        <div class="form-group">
          <a href="#/buyTickets/tickets/seats/detail/cardinformation" class="btn next-btn align-right">siguiente</a>
        </div>
    </div>
  </div>
</main>