
.panel{
	border: none;
	border-radius: 0;
	background: $medium-red;
	color: #ffffff;
	
	h4{
		padding: 15px;
	}
}

.event-info{
	padding: 20px 0;
	background: $medium-red;
	color: #ffffff;
	
	.event-detail{
		padding-bottom: 20px;
		
		@media (max-width: 768px){
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 20px;
		}
	}	
	
	td{
		padding-left: 30px;
		
	}
	
	.info-block{
		margin: 30px 0 10px 0;
	}

	.info-description{
		@media(max-width: 768px){
			padding-top: 20px;
		}
	}

	.btn{
		width: 100%;
	}

	h2{
		margin-top: 0;
		margin-bottom: 25px;
	}
	
	h3{
		margin-top: 0;
		margin-bottom: 15px;
	}
}

.plus-btn, .min-btn{
    border: 2px solid $light-red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 2px 13px;
    background: none;
    color: $light-red;
    
    &:hover{
    	color: $medium-red;
    	border-color: $medium-red;
    }
}

.plus-btn{
	margin: 10px 0 10px 30px;
	
	i{
    	margin-right: 20px;
    }
}

.min-btn{
	margin-top: 10px;
	padding: 0 5px;
}
