p {
    color: #fff;
}

.container-login {
    width: 70%;
}

.container {
    #btnSubmit {
        width: 27%;
        margin: 0 0 0 20%;
    }
}

.register-photo {
    margin-left: 8%;
}

.register-form {
    width: 50%;
}
.session-tabs {
    max-width: 580px;
    margin: 70px auto 65px auto;

    li {
        padding: 0;
        color: #fff;

        &.active {
            background: #fff;

            a {
                color: #7c7c7c;
            }
        }

        a {
            display: block;
            color: #fff;
            border: 1px solid #fff;
        }
    }
}

.appForm {
    .input-group-addon {
        background: #e3746b;
        border-radius: 0;
        border: 0;
        color: #fff;
        min-width: 60px;

        .fa {
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }

    .form-control {
        border-radius: 0;
        background: #da453d;
        border: 0;
        padding: 25px 10px;
        color: #fff;
    }
}

.session-tabs {
    a:hover {
        color: #7c7c7c;
    }
}

.forgot-password {
    margin-top: 15px;

    a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
}

hr.devider-light {
    width: 40%;
    margin: 25px auto;
}

.form-gender {
    label {
        color: #fff;
        font-weight: 100;
    }

    .radio-inline {
        margin-right: 39px;

        &:last-child {
            margin-right: 0;
        }
    }

    margin-bottom: 15px;
}

#registerForm {
    label.custom-file-upload {
        text-align: center;
        display: block;
    }

    img {
        margin: 0 auto;
    }
}