p {
    color: #fff;
}

.container-login {
    width: 70%;
}

.register-photo {
    margin-left: 8%;
}

#loginForm {
    #btnSubmit {
        width: 23%;
        margin-left: 22%;
    }
    .input-group {
        margin-bottom: 11px;
    }
}

.register-form {

    width: 50%;

    .checkbox-label {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        margin-right: 17px;

        input {
            visibility: hidden;
            position: absolute;
        }

        input:checked + i {
            box-shadow: inset 0 0 0 8px #e57368;
            background: #d3362d;
        }

        i {
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: 0.2s;
            box-shadow: inset 0 0 0 8px #d7d3d3;
            background: #acacac;
            margin-right: 11px;
        }
    }

    .checkbox-label:hover {
        i {
            box-shadow: inset 0 0 0 5px #e57368;
            background: #d3362d;
        }
    }

}
.session-tabs {
    max-width: 580px;
    margin: 70px auto 65px auto;

    li {
        padding: 0;
        color: #fff;

        &.active {
            background: #fff;

            a {
                color: #7c7c7c;
            }
        }

        a {
            display: block;
            color: #fff;
            border: 1px solid #fff;
        }
    }
}

.appForm {
    .input-group-addon {
        background: #e3746b;
        border-radius: 0;
        border: 0;
        color: #fff;
        min-width: 60px;

        .fa {
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }

    .form-control {
        border-radius: 0;
        background: #da453d;
        border: 0;
        padding: 25px 10px;
        color: #fff;
    }
}

.session-tabs {
    a:hover {
        color: #7c7c7c;
    }
}

.forgot-password {
    margin-top: 15px;

    a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
}

hr.devider-light {
    width: 40%;
    margin: 25px auto;
}

.form-gender {
    label {
        color: #fff;
        font-weight: 100;
    }

    .radio-inline {
        margin-right: 39px;

        &:last-child {
            margin-right: 0;
        }
    }

    margin-bottom: 15px;
}

#registerForm {
    label.custom-file-upload {
        text-align: center;
        display: block;
    }

    img {
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .register-form {
        width: 100%;
    }
    .register-photo {
        margin-left: 0;
    }
    #loginForm #btnSubmit {
        width: 33%;
        margin-left: 17%;
    }
}

@media screen and (max-width: 400px) {
    .register-photo {
        margin-left: 0;
    }
    .register-form {
        width: 100%;
    }
    .register-form .checkbox-label {
        margin-right: 7px;
    }
    #loginForm #btnSubmit {
        width: 68%;
        margin-left: 16%;
    }
    .container-login {
        width: 100%;
    }
}