.user-profile {
    padding-top: 20px;

    color: #fff;

    a:not(.btn) {
        color: #fff;
    }

    .btn-logout {
        display: block;
        width: 100%;
    }

    .user-card .panel-body:last-child {
        padding-top: 0;
    }

    .user-name {
        text-align: center;
        margin: 0;
        margin-top: 10px;
        padding: 0;
    }

    .user-image {
        margin: 0 auto;
        width: 180px;
        height: 180px;
        border: 1px solid #ecf0f1;
        border-radius: 50%;
        background-size: cover !important;
    }
}