.general-form {
    .subtotal-general{
        margin: -27% 0 0 37%;
        position: absolute;
        color: #fff;
    }
    .subtotal-VIP{
        margin: -10% 0 0 37%;
        position: absolute;
        color: #fff;
    }
    .card-number {
        label {
            display: inline-block;
            width: 100%;
        }
    }
    .form-group {
        .input-group-btn {
            button {
                float: right;
                position: relative;
                margin-top: -60px;
                padding: 12px 22px;
            }
        }
        .select-area-seats {
            margin-left: -137px;
            font-size: 18px;
        }
        .dropdown-menu {
            z-index: 9000;
            padding: 0 0 5px;
            //top: 188px !important;
            top: 85px !important;

            .btn-default {
                border-color: #fff;
            }
            button {
                border-color: #ed9d97;
            }
        }
        .btn {
            margin-top: 0;
            padding: 0 16px;
        }
        .btn:hover {
            border-color: #ed9d97;
        }
        .btn-info.active {
            color: #ed9d97;
            background-color: #d3362d;
            .text-info {
                color: #ed9d97;
            }
        }
        .btn-group.pull-left button:first-child {
            margin-right: 5px;
        }

        .btn.cant-tickets-btn {
            border: 2px solid #ed9d97;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            padding: 2px 13px;
            background: none;
            color: #ed9d97;
            margin: -50px 9px;
        }
        .btn.cant-tickets-btn.minus-btn {
            float: left;
        }
        .ticket-price {
            float: right;
        }
        .subtotal-qty {
            color: #fff;
            margin-top: 45px;
            position: absolute;
        }
        .ticket-type {
            width: 43%;
        }
        /** SEATS **/
        .screen-position,
        .seat-row a {
            background: #ecf0f1;
            color: #000;
            margin-right: 3px;
            border-radius: 10px;
            font-size: 12px;
        }
        .seat-row {
            margin-top: 33px;
            height: 23px;
            div {
                span {
                    color: #fff;
                    margin-right: 19px;
                }
                a {
                    padding: 18px 22px;
                }
                .two-digit-seat {
                    padding: 14px 14px;
                }
            }
            .center-col-seats {
                margin: 0 19px;
            }
        }
        .vip-row {
            margin: 33px 0 20px 70px;
        }
        .vip-1 {
            margin: 0 0 5px 48px;
        }
        .e-row {
            div {
                span {
                    margin-right: 20px;
                }
            }
            .center-col-seats {
                margin: 0 20px;
            }
        }
        .seat-type {
            div {
                a {
                    padding: 14px 22px;
                    margin-left: 31px;
                }
                span {
                    margin-left: 15px;
                    font-weight: 100;
                }
                .sold {
                    border-color: #4e4545;
                }
                .special-seat {
                    border-color: #0c529f;
                }
                .your-seat {
                    border-color: #0cf303;
                }
            }
            .seat-type-second-col {
                a {
                    margin-left: 3px;
                }
                span {
                    margin-right: 64px;
                }
            }
        }
        .seat-row-top {
            margin-top: 50px;
        }
        .card-number {
            padding-left: 80px;
        }
        .type-card-icon {
            position: absolute;
            font-size: 40px;
            color: #ed9d97;
            width: 50px;
            height: 50px;
            margin: 2px 14px;
        }
        .event-info {
            padding: 20px 10px;
        }
    }
}

.form-group > .btn.next-btn {
    padding: 10px 16px;
    margin-top: 30px;
}

.detail-buy-heading,
.buy-code {
    border-radius: 0;
    background: #ed9d97;
    line-height: 34px;
    letter-spacing: 1px;
    color: #d3362d;
    text-transform: uppercase;
    padding: 10px 23px;

    span {
        font-size: 1.2em;
    }
}

.buy-code {
    text-align: center;
}

.success-info {
    width: 100%;
    margin: 23px auto;
    color: #fff;
    font-weight: 100;
    text-align: center;
}

.success-buy {
    font-size: 16px;
    color: #fff;
}

.lights-image {
    width: 25%;
    margin-top: 40px;
    margin-bottom: 15px;
}

.detail-buy {
    .detail-buy-container {
        .details {
            border: 1px solid #fff;
            border-top: 0;
            padding: 1px 22px 13px;
            margin-bottom: 10px;
        }
        h3 {
            color: #fff;
            font-size: 1.2em;
        }
        p {
            color: #fff;
            font-weight: 100;
        }
        div {
            div {
                .selected-area {
                    float: left;
                    width: 15%;
                }
                .selected-seats {
                    float: right;
                    width: 85%;
                }
            }
        }
    }
    .detail-buy-information {
        label {
            color: #fff;
            font-weight: 100;
            margin-top: 15px;
        }
        input {
            background-color: #db4437;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            height: 60px;
            font-weight: 400;
            color: #fff;
        }
    }
    div {
        .btn.next-btn {
            width: 100%;
            padding: 10px 16px;
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width: 400px) {

    .typeahead {
        .custom-popup-wrapper {
            width: 92.5%;
        }
    }

    .general-form {
        .subtotal-general{
            margin: -39% 0 0 33%;
        }
        .subtotal-VIP {
            margin: -14% 0 0 32%;
        }

        .form-group {
            .btn {
                padding: 0 10px;
            }
            /** SEATS **/
            .seat-row {
                div {
                    span {
                    }
                    .two-digit-seat {
                        padding: 6px 6px ;
                    }
                }
                .center-col-seats {
                    margin: 0 7px ;
                }
            }
            .e-row {
                div {
                    span {
                        margin-right: 21px;
                    }
                }
            }
            .seat-type {
                div {
                    a {
                        padding: 5px 13px;
                    }
                }
            }
        }
    }

    .col-centered {
        width: 100%;
    }
}

.form-group {
    .center-area {
        width: 500px;
        height: 600px;
        background: #bdc3c7;
        border-radius: 50%;
        margin-left: 30px;
        .first-row, .second-row, .third-row {
            margin: 10px 15%;
            display: inline-block;
            width: 100%;
            .seat-stadium-col {
                float: left;
                a {
                    padding: 25px 16px;
                    background: #ecf0f1;
                    color: #000;
                    margin-right: 11px;
                    border-radius: 10px;
                    font-size: 12px;
                }
                .vip-10 {
                    padding: 25px 12px;
                }
            }
        }
        .third-row {
            margin: 11% 15.6% 26px;
        }
        .second-row  {
            margin: 9% 15% 0;
        }
        .gramilla-general {
            border-radius: 0 0 200px 200px;
            background: #16a085;
            width: 344px;
            height: 171px;
            margin: 17px 76px;
            a {
                display: block;
                text-align: center;
                color: #fff;
                margin-top: 54px;
            }
        }
        .scenario-row {
            width: 150px;
            height: 78px;
            margin: 50px 172px;
            background: #34495e;
            display: inline-block;
            border-radius: 10px;
            span {
                color: #fff;
                text-align: center;
                display: block;
                margin-top: 28px;
            }
        }
    }
    .right-area, .bottom-area {
        margin-top: -442px;
        float: right;
        margin-right: -130px;
        display: -webkit-inline-box;
        .row {
            .seat-stadium-col {
                -ms-transform: rotate(90deg); /* IE 9 */
                -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
                transform: rotate(90deg);
                a {
                    padding: 10px;
                    background: #e67e22;
                    margin: 4px;
                    display: inline-block;
                    border-radius: 10px;
                    color: #fff;
                    border: 1px solid #fff;
                }
            }
        }
        .row2 {
            margin-left: 15px;
            margin-top: -48px;
        }
        .row3 {
            margin-top: -96px;
            margin-left: 15px;
        }

    }
    .left-left {
        float: left;
        margin-left: -128px;
        margin-top: -343px;
        .row {
            .seat-stadium-col {
                -ms-transform: rotate(270deg);
                -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
            }
        }
        .row2 {
            margin-top: -144px;
        }
        .row4 {
            margin-top: -192px;
        }
    }
    .bottom-area {
        margin-top: 63px;
        position: absolute;
        margin-left: 180px;
        .row {
            .seat-stadium-col {
                transform: rotate(0deg);
                float: left;
                .two-digit-seat {
                    padding: 10px 6px;
                }
            }
        }
    }
    .area-2 {
        margin-top: 17px;
    }
}

.next-stadium-seat {
    margin-top: 100px;
}

/* Modal seats style */
.not-available {
    opacity: 0.3;
    background: #000;
    color: #eee;
    text-decoration: none;
    cursor: not-allowed;
}

.seat-row ul li {
    float: left;
    margin-right: 13px;
    background: #ecf0f1;
    border-radius: 10px;
    width: 51px;
    height: 50px;
    margin-bottom: 6px;
}

.seat-row ul li a {
    padding: 0;
    width: 51px;
    height: 50px;
    padding: 19px 21px;
    display: inline-block;
    margin-right: 0 !important;
    margin-bottom: 8px;
    cursor: pointer;
    background: none !important;
}

.seat-row ul li a:hover {
    text-decoration: none;
}

.seat-letter {
    margin: 15px -24px;
    position: absolute;
}

.seat-row ul li.active {
    background: #1abc9c;
}

.seat-row ul li.active a {
    color: #fff !important;
}

@media screen and (max-width: 400px) {
.general-form {
    .form-group {
        .vip-row {
            margin: 33px 0 20px 10px;
        }
        .vip-1 {
            margin: 0 0 5px 10px;
        }
        .seat-row {
            div {
                a {
                    padding: 17px 22px;
                }
            }
            ul {
                li {
                    margin-right: 8px;
                }
            }
        }
        .select-area-seats {
            margin-left: 84px;
        }
        .center-area {
            width: 179px;
            height: 236px;
            margin-left: 106px;
            .scenario-row {
                width: 71px;
                height: 32px;
                margin: 17px 52px 7px;
                border-radius: 3px;
                span {
                    margin-top: 8px;
                    font-size: 12px;
                }
            }
            .first-row, .second-row, .third-row {
                margin: 2% 8%;
                .seat-stadium-col {

                    a {
                        border-radius: 3px;
                        padding: 5px 2px;
                        margin-right: 3px;
                        font-size: 10px;

                    }
                    .vip-10 {
                        padding: 6px 1px;
                        font-size: 9px;
                    }
                }
            }
            .first-row, .second-row {
                margin: 2% 8%;
            }
            .gramilla-general {
                width: 146px;
                height: 72px;
                margin: 6px 16px;
                a {
                    margin-top: 24px;
                    font-size: 12px;
                }
            }
        }
        .right-area {
            margin-top: -174px;
            margin-right: 29px;
            .row {
                margin-right: -15px;
                margin-left: -15px;
                margin-top: 12px;
                .seat-stadium-col {
                    a {
                        padding: 3px;
                        font-size: 12px;
                        border-radius: 3px;
                    }
                }
            }
            .row2 {
                margin-top: -15px;
                margin-left: 12px;
            }
            .row3 {
                margin-left: 9px;
                margin-top: -47px;
            }
        }
        .left-left {
            margin-left: 20px;
            margin-top: -100px;
            .row {
                margin-top: -127px;
                .seat-stadium-col {
                }
            }
            .row2 {
                margin-top: -95px;
                margin-left: 9px;
            }
            .row3 {
                margin-left: 14px;
                margin-top: -61px;
            }
        }
        .bottom-area {
            margin-left: 21px;
            margin-top: 24px;
            .row {
                .seat-stadium-col {
                    transform: rotate(0deg);
                    float: left;
                    .two-digit-seat {
                        padding: 3px 0;
                    }
                    a {
                        padding: 3px;
                        font-size: 12px;
                        border-radius: 3px;
                    }
                }
            }
        }
        .bottom-area.area-2 {
            margin-top: 55px;
        }
    }
}
}