$dark-red: #d3362d;
$medium-red: #db4437;
$light-red: #ed9d97;
$dark-gray: #4e4e4e;
$medium-gray: #7d7d7d;
$light-gray: #e5e5e5;

html {
  position: relative;
  min-height: 100%;
}

body{
	margin-bottom: 60px;
	background-color:  $dark-red;
	font-family: 'Roboto', sans-serif;

	button{
		background: none;
		border: none;
	}

	li{
		list-style-type: none;
	}

	a{
		text-decoration: none;
		color: $medium-gray;

		&:hover{
			color: $dark-gray;
		}

		&.todo-btn{
			width: 100%;

			&:hover{
				border: 1px solid $light-red;
			}
		}
	}

	h1 {
		padding: 30px 0;
		color: #fff;
		font-weight: 100;
    	font-size: 2.5em;
	}

	hr {
	    border-top: 1px solid #fff;
	    margin-bottom: 40px;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	.language-select {
	    margin: 28px 0 0 20px;
	    display: inline-flex;
	    .fa.fa-globe {
	    	float: left;
    		margin: 9px 12px 0 0;
    		color: #7d7d7d;
	    }
	    .form-control {
	   		display: inline-block;
	    }
	}
}

button.btn {
	outline: none;
	-webkit-appearance: none;

	&:focus {
		outline: none;
	}

	&:active {
		outline: none;
	}
}

.navbar {
	background: #ffffff;
	border-radius: 0;
}

.navbar-nav > li > a{

	&:hover{
		background: none;
	}
}

.navbar-toggle {
	float: left;
	margin-right: -46px;
}

#current-view {
	padding-bottom: 100px;
}

header{
	.fa-bars{
		padding: 8px;
		color: $dark-red;

		&:hover{
			color: $light-red;
		}
	}

	.logo{
		margin: 0 auto;
		padding-top: 10px;
	}

	.navbar-brand{
		float: none;
	}

	.navbar-nav > li > a {
		font-size: 16px;
		font-weight: 100;

		@media (min-width: 768px){
			margin-top: 20px;
		}

		@media (max-width: 768px) {
			padding: 10px 40px;
			border-bottom: 1px solid $light-gray;
			text-align: right;
		}
	}

	.navbar-nav > li > div {
		@media (max-width: 768px) {
		    float: right;
		    margin: 0;
		    padding: 10px 40px;
		}
	}

	.navbar-collapse{
		@media (max-width: 768px) {
			border-top: 1px solid $light-gray;
		}
	}
}

.list-group{
	margin: 5px 0;
}

.btn{
	margin-top: 20px;
	border-radius: 0;
	background: $light-red;
	line-height: 34px;
	letter-spacing: 1px;
	color: $dark-red;
	text-transform: uppercase;

	&:hover{
		background: $dark-red;
		color: $light-red;
	}

	&-facebook {
		background: #3b5998;
	}

	&-twitter {
		background: #55acee;
	}

	&-social {
		color: #fff;
	}
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;


	.copyright-text{
		margin-bottom: 0;
		padding: 15px 0;
		color: $medium-gray;
	}

	.navbar{
		padding: 5px 0;
		margin-bottom: 0;
	}

	.navbar-nav{
		float: none;
	}
}

/* Form */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff !important;
}

.general-form {

	.validate-messages {
		margin: 0;
		span {
			margin: 15px 0 0 0;
			display: inline-block;
			width: 100%;
		}
	}

	.form-group {

		label {
			color: #fff;
			font-weight: 100;
			i {
				padding: 13px 10px 13px 0;
			}
		}

		input, textarea, .event-info {
			background-color: #db4437;
			border: 0;
			border-radius: 0;
			box-shadow: none;
			height: 60px;
			font-weight: 400;
			color: #fff;
		}

		textarea{
			resize: none;
		}

		.btn.next-btn {
			width: 100%;
			padding: 10px 16px;
			font-size: 1.2em;
		}

		.price-input {
			margin-bottom: 10px;
		}

	}
}

/* TypeAhead */

.typeahead {

	.custom-popup-wrapper {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		background-color: #db4437;
		width: 95%;
		top: 88px !important;

		.message {
			padding: 10px 20px;
			border-bottom: 1px solid #ddd;
			color: #fff;
		}

		.dropdown-menu {
			position: static;
			float: none;
			display: block;
			min-width: 160px;
			background-color: transparent;
			border: none;
			border-radius: 0;
			box-shadow: none;
		}
	}
}

.dropdown-menu {
	.active {
		a, a:focus, a:hover {
			color: #d3362d;
    		background-color: #ed9d97;
		}
	}
	li {
		a {
			color: #fff;
		}
	}
}

.btn-back{
	position: fixed;
	padding-top: 20px;
	color : $light-red;

	&:hover{
		color: $medium-red;
	}
}

.table{
	color: #ffffff;

	a{
		color: #ffffff;

		&.inline{
			padding-top: 8px;
		}

		&.two-lines{
			padding-top: 15px;

			@media (max-width: 768px) {
				padding-top: 15px;
			}
		}

		&:hover{
			color: $dark-red;
		}
	}

	.info-td{
		padding-left: 20px;
		border-right: 0.5px solid #ffffff;

		@media (max-width: 768px) {
			padding-left: 0;
			padding-right: 10px;
		}
	}
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: 0;
}

.table-striped>tbody>tr:nth-of-type(odd){
	background: $light-red;
}

.table-striped>tbody>tr:nth-of-type(even){
	background: $medium-red;
}

.circle-thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;

  border-radius: 50%;
}

.circle-thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

td {
	.circle-thumbnail {

		@media (max-width: 768px){
			height: 66px;
		}
	}
}


.modal-dialog{

	@media (min-width: 768px){
		width: 500px;
	}

	.modal-content {
		border-radius: 0;
		background: $medium-red;
		color: #ffffff;

		img{
			margin: 0 auto;
		}

		.modal-footer {
			padding-top: 0;
			text-align: center;

			.btn+.btn {
				margin-left: 15px;
			}
		}

		.modal-header, .modal-footer {
			border: none;
		}
	}
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 10px;
    cursor: pointer;

    font-weight: 100;
    color: #ffffff;

    i{
    	padding: 0 5px;
    }

    &:hover{
    	color: $light-red;
    }
}

.uib-timepicker {
	.btn{
		background: none;
		color: #ffffff;

		&:hover{
			border: none;
			color: $light-red;
		}
	}

	.uib-time > input{
		height: 40px;
	}

	.btn-default{
		border: none;
	}

	.uib-separator{
		padding: 0 10px;
		color: #ffffff;
	}
}

.form-group .uib-time > input {
	border: none;
	border-radius: 0;

	background: $medium-red;

	color: #ffffff;

}

.alert a {
	color: inherit;
	font-weight: bold;
}

@import 'events.scss';
@import 'tickets.scss';
@import 'login.scss';
@import 'profile.scss';